/*
 * Galleries
 */

.gallery-thumbs,
.masonry-thumbs {
	a {
		display: block;
		float: left;
		max-width: 100%;
		position: relative;
		overflow: hidden;
		width: 25%;
	}
	
	a, img {
		display: block;
		height: auto;
	}

	img {
		border-radius: 0 !important;
		padding: 0 1px 1px 0;
		transition: opacity .5s ease;
		width: 100%;
		&:hover {
			opacity: .8;
		}
	}

	.gallery-caption {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 15px;
		width: 100%;

		h4, .gallery-desc {
			color: #fff;
			margin: 0;
		}

		.gallery-desc {
			font-size: 16px;
			font-style: italic;
		}
	}
}

.gallery-thumbs {
	
	&.col-1 a {
		float: none;
		margin-bottom: 20px;
		width: 100%;
	}

	&.col-2 a {
		margin-bottom: 1.6%;
		margin-right: 1.6%;
		width: 49.2%;

		&:nth-child(2n) {
			margin-right: 0;
		}
	}

	&.col-3 a {
		margin-bottom: 1.25%;
		margin-right: 1.25%;
		width: 32.5%;

		&:nth-child(3n) {
			margin-right: 0;
		}
	}

	&.col-4 a {
		margin-bottom: .66%;
		margin-right: .66%;
		width: 24.5%;

		&:nth-child(4n) {
			margin-right: 0;
		}
	}

	&.col-5 a {
		margin-bottom: .62%;
		margin-right: .62%;
		width: 19.5%;

		&:nth-child(5n) {
			margin-right: 0;
		}
	}
}

.masonry-thumbs {
	position: relative;

	&.col-2 a {
		width: 50%;
	}

	&.col-3 a {
		width: 33.30%;
	}

	&.col-4 a {
		width: 25%;
	}

	&.col-5 a {
		width: 20%;
	}
}