/* ========================================================================
 * bootstrap-switch - v3.3.2
 * ====================================================================== */
.bootstrap-switch {
  display: inline-block;
  direction: ltr;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid;
  border-color: #CCC;
  position: relative;
  text-align: left;
  overflow: hidden;
  line-height: 8px;
  z-index: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.bootstrap-switch .bootstrap-switch-container {
  display: inline-block;
  top: 0;
  border-radius: 2px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch .bootstrap-switch-handle-off,
.bootstrap-switch .bootstrap-switch-label {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block !important;
  height: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 20px;
}

.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch .bootstrap-switch-handle-off {
  text-align: center;
  z-index: 1;
}

.bootstrap-switch .bootstrap-switch-handle-on i,
.bootstrap-switch .bootstrap-switch-handle-off i {
  position: relative;
  font-size: 16px;
  left: -1px;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
  color: #fff;
  background: #337ab7;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-info,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-info {
  color: #fff;
  background: #5bc0de;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success {
  color: #fff;
  background: #5cb85c;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-warning,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-warning {
  background: #f0ad4e;
  color: #fff;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-danger,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-danger {
  color: #fff;
  background: #d9534f;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
  color: #000;
  background: #eeeeee;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-themecolor,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-themecolor {
  color: #FFF;
  background: #008ec2;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-black,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-black {
  color: #FFF;
  background: #000;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-white,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-white {
  color: #000;
  background: #F5F5F5;
}

.bootstrap-switch .bootstrap-switch-label {
  text-align: center;
  margin-top: -1px;
  margin-bottom: -1px;
  z-index: 100;
  color: #333333;
  background: #ffffff;
}

.bootstrap-switch .bootstrap-switch-handle-on {
  border-bottom-left-radius: 1px;
  border-top-left-radius: 1px;
}

.bootstrap-switch .bootstrap-switch-handle-off {
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}

.bootstrap-switch input[type='radio'],
.bootstrap-switch input[type='checkbox'] {
  position: absolute !important;
  top: 0;
  left: 0;
  margin: 0;
  z-index: -1;
  opacity: 0;
  filter: alpha(opacity=0);
}

.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-label {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
}

.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-label {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}

.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-label {
  padding: 6px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}

.bootstrap-switch.bootstrap-switch-disabled,
.bootstrap-switch.bootstrap-switch-readonly,
.bootstrap-switch.bootstrap-switch-indeterminate {
  cursor: default !important;
}

.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-label {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default !important;
}

.bootstrap-switch.bootstrap-switch-animate .bootstrap-switch-container {
  -webkit-transition: margin-left 0.2s ease;
  transition: margin-left 0.2s ease;
}

.bootstrap-switch.bootstrap-switch-inverse .bootstrap-switch-handle-on {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}

.bootstrap-switch.bootstrap-switch-inverse .bootstrap-switch-handle-off {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 1px;
  border-top-left-radius: 1px;
}

.bootstrap-switch.bootstrap-switch-focused {
  outline: 0;
}

.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-inverse.bootstrap-switch-off .bootstrap-switch-label {
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}

.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-inverse.bootstrap-switch-on .bootstrap-switch-label {
  border-bottom-left-radius: 1px;
  border-top-left-radius: 1px;
}

.bootstrap-switch-label:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 3px;
  margin-top: -2px;
  margin-left: -5px;
  display: inline-block;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
}

/* --------------------------------------------------------------
    SWITCH
--------------------------------------------------------------  */
.switch-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.switch-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* --------------------------------------------------------------
    SWITCH 1 - ROUND
----------------------------------------------------------------- */
input.switch-toggle-round + label {
  padding: 2px;
  width: 60px;
  height: 30px;
  background-color: #DDD;
  border-radius: 15px;
}

input.switch-toggle-round + label:before,
input.switch-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}

input.switch-toggle-round + label:before {
  right: 1px;
  background-color: #F1F1F1;
  border-radius: 15px;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
}

input.switch-toggle-round + label:after {
  width: 28px;
  background-color: #FFF;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: margin 0.4s;
  transition: margin 0.4s;
}

input.switch-toggle-round:checked + label:before {
  background-color: #008ec2;
}

input.switch-toggle-round:checked + label:after {
  margin-left: 30px;
}

/* --------------------------------------------------------------
    SWITCH 1 - ROUND- MINI
----------------------------------------------------------------- */
input.switch-rounded-mini.switch-toggle-round + label {
  padding: 1px;
  width: 32px;
  height: 16px;
  border-radius: 8px;
}

input.switch-rounded-mini.switch-toggle-round + label:before {
  border-radius: 8px;
}

input.switch-rounded-mini.switch-toggle-round + label:after {
  width: 15px;
}

input.switch-rounded-mini.switch-toggle-round:checked + label:after {
  margin-left: 15px;
}

/* --------------------------------------------------------------
    SWITCH 1 - ROUND- LARGE
----------------------------------------------------------------- */
input.switch-rounded-large.switch-toggle-round + label {
  width: 90px;
  height: 45px;
  border-radius: 45px;
}

input.switch-rounded-large.switch-toggle-round + label:before {
  border-radius: 45px;
}

input.switch-rounded-large.switch-toggle-round + label:after {
  width: 43px;
}

input.switch-rounded-large.switch-toggle-round:checked + label:after {
  margin-left: 45px;
}

/* --------------------------------------------------------------
    SWITCH 1 - ROUND- XLARGE
----------------------------------------------------------------- */
input.switch-rounded-xlarge.switch-toggle-round + label {
  width: 120px;
  height: 60px;
  border-radius: 60px;
}

input.switch-rounded-xlarge.switch-toggle-round + label:before {
  border-radius: 60px;
}

input.switch-rounded-xlarge.switch-toggle-round + label:after {
  width: 58px;
}

input.switch-rounded-xlarge.switch-toggle-round:checked + label:after {
  margin-left: 60px;
}

/* -----------------------------------------------------------
    SWITCH 2 - ROUND FLAT
-------------------------------------------------------------- */
input.switch-toggle-flat + label {
  padding: 2px;
  width: 60px;
  height: 30px;
  background-color: #DDD;
  border-radius: 30px;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
}

input.switch-toggle-flat + label:before,
input.switch-toggle-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.switch-toggle-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #FFF;
  border-radius: 30px;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
}

input.switch-toggle-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 22px;
  background-color: #DDD;
  border-radius: 22px;
  -webkit-transition: margin 0.4s, background 0.4s;
  transition: margin 0.4s, background 0.4s;
}

input.switch-toggle-flat:checked + label {
  background-color: #008ec2;
}

input.switch-toggle-flat:checked + label:after {
  margin-left: 30px;
  background-color: #008ec2;
}

/* -----------------------------------------------------------
    SWITCH 2 - FLAT - MINI
-------------------------------------------------------------- */
input.switch-flat-mini.switch-toggle-flat + label {
  padding: 1px;
  width: 32px;
  height: 16px;
  border-radius: 16px;
}

input.switch-flat-mini.switch-toggle-flat + label:before {
  top: 1px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  border-radius: 16px;
}

input.switch-flat-mini.switch-toggle-flat + label:after {
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: 12px;
  border-radius: 12px;
}

input.switch-flat-mini.switch-toggle-flat:checked + label:after {
  margin-left: 16px;
}

/* -----------------------------------------------------------
    SWITCH 2 - FLAT - LARGE
-------------------------------------------------------------- */
input.switch-flat-large.switch-toggle-flat + label {
  width: 90px;
  height: 45px;
  border-radius: 45px;
}

input.switch-flat-large.switch-toggle-flat + label:before {
  border-radius: 45px;
}

input.switch-flat-large.switch-toggle-flat + label:after {
  width: 37px;
  border-radius: 37px;
}

input.switch-flat-large.switch-toggle-flat:checked + label:after {
  margin-left: 45px;
}

/* -----------------------------------------------------------
    SWITCH 2 - FLAT - XLARGE
-------------------------------------------------------------- */
input.switch-flat-xlarge.switch-toggle-flat + label {
  padding: 2px;
  width: 120px;
  height: 60px;
  border-radius: 60px;
}

input.switch-flat-xlarge.switch-toggle-flat + label:before {
  border-radius: 60px;
}

input.switch-flat-xlarge.switch-toggle-flat + label:after {
  width: 52px;
  border-radius: 52px;
}

input.switch-flat-xlarge.switch-toggle-flat:checked + label:after {
  margin-left: 60px;
}

/* Style-1 + Style-2 */
.checkbox-style,
.radio-style {
  float: none !important;
  opacity: 0;
  position: absolute;
}

.checkbox-style, .radio-style,
.checkbox-style-1-label, .radio-style-1-label,
.checkbox-style-2-label, .radio-style-2-label,
.checkbox-style-3-label, .radio-style-3-label {
  float: none !important;
  display: inline-block;
  vertical-align: middle;
  margin: 3px 5px !important;
  cursor: pointer;
}

.checkbox-style-1-label, .radio-style-1-label,
.checkbox-style-2-label, .radio-style-2-label,
.checkbox-style-3-label, .radio-style-3-label {
  position: relative;
}

.checkbox-style-1-label:before, .radio-style-1-label:before,
.checkbox-style-2-label:before, .radio-style-2-label:before,
.checkbox-style-3-label:before, .radio-style-3-label:before {
  content: '';
  background: #FFF;
  border: 2px solid #DDD;
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  padding: 4px;
  margin-right: 10px;
  line-height: 1;
  text-align: center;
}

.radio-style-1-label:before,
.radio-style-2-label:before,
.radio-style-3-label:before {
  border-radius: 50%;
}

.checkbox-style:checked + .checkbox-style-1-label:before {
  background: #1e8cbe;
}

.radio-style:checked + .radio-style-1-label:before {
  background: #1e8cbe;
}

/* Checkbox-small + Radio-small */
.checkbox-style-1-label.checkbox-small:before,
.radio-style-1-label.radio-small:before,
.checkbox-style-2-label.checkbox-small:before,
.radio-style-2-label.radio-small:before,
.checkbox-style-3-label.checkbox-small:before,
.radio-style-3-label.radio-small:before {
  border: 2px solid #DDD;
  width: 16px;
  height: 16px;
  margin: 0 8px 1px 0;
}

/* Style-2 */
.checkbox-style:checked + .checkbox-style-2-label:before {
  background: #1e8cbe;
  box-shadow: inset 0px 0px 0px 4px #fff;
}

.radio-style:checked + .radio-style-2-label:before {
  background: #1e8cbe;
  box-shadow: inset 0px 0px 0px 4px #fff;
}

.checkbox-style:checked + .checkbox-style-2-label.checkbox-small:before {
  box-shadow: inset 0px 0px 0px 2px #fff;
}

.radio-style:checked + .radio-style-2-label.radio-small:before {
  box-shadow: inset 0px 0px 0px 2px #fff;
}

/* style-3 */
.checkbox-style:checked + .checkbox-style-3-label:before,
.radio-style:checked + .radio-style-3-label:before {
  content: "\e116";
  font-family: 'lined-icons';
  background: #1e8cbe;
  color: #FFF;
}

.radio-style:checked + .radio-style-3-label:before {
  color: #BBB;
  background-color: transparent;
}

/* style-3 - Small */
.checkbox-style + .checkbox-style-3-label.checkbox-small:before,
.radio-style + .radio-style-3-label.radio-small:before {
  border: 1px solid #BBB;
  width: 16px;
  height: 16px;
  margin: 0 8px 1px 0;
  font-size: 7px;
  line-height: .8;
}

/*
/* Admin Global Syles
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* General
/* --------------------------------------------------------- */
.anva-framework input[type="text"],
.anva-framework input[type="tel"],
.anva-framework input[type="email"],
.anva-framework input[type="url"],
.anva-framework input[type="datetime"],
.anva-framework input[type="number"],
.anva-framework input[type="password"] {
  box-shadow: 0 0 4px #eee;
  color: #666;
  height: 33px;
  margin-bottom: 10px;
  outline: 0;
  width: 100%;
}

.anva-framework input[type="radio"],
.anva-framework input[type="checkbox"] {
  box-sizing: border-box;
  line-height: normal;
  margin: 4px 0 0;
  margin-top: 1px \9;
  padding: 0 !important;
}

.anva-framework input.anva-checkbox,
.anva-framework input.anva-radio {
  margin: 0 10px 5px 0;
  clear: both;
}

.anva-framework select,
.anva-framework textarea {
  color: #666;
}

.anva-framework label:before, .anva-framework label:after {
  box-sizing: border-box;
}

.anva-framework h3 {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  cursor: default;
}

.anva-framework p {
  margin-bottom: 0;
  padding-bottom: 10px;
}

.anva-framework .ui-spinner {
  box-sizing: border-box;
  display: block;
  padding: 5px;
}

.anva-framework .anva-spinner {
  border: 0;
  box-shadow: none;
}

.anva-framework .anva-spinner:focus {
  border: 0;
  box-shadow: none;
}

.anva-framework .group {
  padding-bottom: 0px;
}

.anva-framework .inner-group {
  border-bottom: 4px solid #eee;
  padding: 10px 15px;
  position: relative;
}

.anva-framework .inner-group > h3 {
  margin: -10px -15px 0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.anva-framework .inner-group > h3 + .section-checkbox {
  margin-top: 15px;
}

.anva-framework .inner-group > h3:before {
  content: '\f142';
  color: #72777c;
  font: 400 20px/1 dashicons;
  float: right;
  speak: none;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none !important;
}

.anva-framework .inner-group.collapse-close {
  padding-bottom: 0;
}

.anva-framework .inner-group.collapse-close > h3 {
  margin-bottom: 0;
}

.anva-framework .inner-group.collapse-close > h3:before {
  content: '\f140';
}

.anva-framework .inner-group.collapse-close > div {
  display: none !important;
}

/* --------------------------------------------------------- */
/* Sections
/* --------------------------------------------------------- */
.anva-framework .section {
  border-bottom: 1px solid #eee;
  margin: 0 -15px;
  padding: 15px;
}

.anva-framework .section:before, .anva-framework .section:after {
  content: "";
  display: table;
}

.anva-framework .section:after {
  clear: both;
}

.anva-framework .section h4.heading {
  font-size: 14px;
  margin: 0 0 15px;
}

.anva-framework .section > .option:before, .anva-framework .section > .option:after {
  content: "";
  display: table;
}

.anva-framework .section > .option:after {
  clear: both;
}

.anva-framework .section .controls {
  float: left;
  min-width: 320px;
  width: 54%;
  padding-right: 4%;
}

.anva-framework .section .controls input[type=text],
.anva-framework .section .controls input[type=number] {
  border-radius: 0;
  width: 100%;
}

.anva-framework .section .controls input[type=text].wp-color-picker {
  margin-bottom: 0;
  height: 24px;
  width: 65px;
}

.anva-framework .section .controls select,
.anva-framework .section .controls textarea {
  margin-bottom: 10px;
  width: 100%;
}

.anva-framework .section .controls .anva-select-label {
  display: block;
  background-size: 7px 32px;
  border-radius: 0;
  box-shadow: 0 0 4px #eee;
  line-height: 1;
  margin-bottom: 10px;
  position: relative;
}

.anva-framework .section .controls .anva-select-label > span {
  box-sizing: border-box;
  color: #666;
  line-height: 33px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 10px;
  overflow: hidden;
  width: 100%;
}

.anva-framework .section .controls .anva-select-label select {
  margin-bottom: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  position: relative;
  height: 33px;
  z-index: 2;
}

.anva-framework .section .controls .anva-select-label:before {
  content: "";
  border: 1px solid #dfdfdf;
  border-radius: 0;
  display: block;
  line-height: 33px;
  padding: 0 10px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.anva-framework .section .controls .anva-select-label:after {
  content: "";
  background: url(../images/fancy-select-trigger_2x.png) no-repeat;
  background-size: 25px 33px;
  border-left: 1px solid #dfdfdf;
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 33px;
}

.anva-framework .section .controls .anva-select-label select {
  margin: 0;
  border-radius: 0;
  border: 1px solid #dfdfdf;
  outline: none;
  display: inline-block;
  height: 33px;
  cursor: pointer;
}

.anva-framework .section .explain {
  max-width: 42%;
  float: left;
  font-size: 13px;
  line-height: 18px;
  color: #777;
}

/* --------------------------------------------------------- */
/* Section Options
/* --------------------------------------------------------- */
.anva-framework .section-description {
  background: #f7f7f7;
  border-bottom: 1px solid #eee;
  color: #777;
  margin: 0 -15px;
  padding: 20px 15px;
}

.anva-framework .section-checkbox:first-child {
  margin-top: 15px;
}

.anva-framework .section-checkbox .controls {
  padding-right: 0;
  width: 100%;
}

.anva-framework .section-checkbox .explain {
  max-width: 94%;
}

.anva-framework .section-logo .logo-item {
  display: none;
}

.anva-framework .section-logo .section {
  background: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 0;
  margin: 0 0 10px 0;
  padding: 12px 15px;
}

.anva-framework .section-logo .section label {
  display: block;
  margin-bottom: 10px;
}

.anva-framework .section-logo .section:first-child {
  margin-top: 0;
}

.anva-framework .section-logo p.note {
  color: #999;
  font-size: 12px;
  font-style: italic;
  line-height: 150%;
  padding: 5px;
}

.anva-framework .section-logo .screenshot {
  background: #f9f9f9;
  border: 1px solid #eee;
  margin-top: 15px;
}

.anva-framework .section-logo .screenshot .remove-image {
  display: none;
  visibility: hidden;
}

.anva-framework .section-logo .screenshot img {
  background: transparent;
  border: 0;
  float: none;
}

.anva-framework .section-social_media span {
  display: block;
  line-height: 20px;
}

.anva-framework .section-social_media input.anva-radio,
.anva-framework .section-social_media input.checkbox {
  margin: 0 5px 0 0;
  float: none;
}

.anva-framework .section-social_media input[type="text"] {
  margin: 10px 0;
}

.anva-framework .section-social_media .column-1 {
  float: left;
  margin-right: 2%;
  width: 48%;
}

.anva-framework .section-social_media .column-2 {
  float: right;
  margin-right: 0%;
  width: 48%;
}

.anva-framework .section-sidebar .dynamic-sidebars ul {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 0;
  margin: 10px 0 0;
  padding: 10px;
}

.anva-framework .section-sidebar .dynamic-sidebars ul.empty:before {
  content: 'Click on "Add" button';
  color: #bbb;
  display: block;
  font-size: 13px;
  padding: 10px;
  text-align: center;
}

.anva-framework .section-sidebar .dynamic-sidebars ul li {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 0;
  color: #000;
  font-weight: bold;
  padding: 15px;
  position: relative;
}

.anva-framework .section-sidebar .dynamic-sidebars ul li a {
  position: absolute;
  right: 15px;
  top: 15px;
  text-decoration: none;
}

.anva-framework .section-sidebar .dynamic-sidebars ul li:last-child {
  margin-bottom: 0;
}

.anva-framework .section-layout .sidebar-layout .item {
  margin-top: 10px;
}

.anva-framework .section-layout .sidebar-layout .item label {
  display: block;
  margin-bottom: 10px;
}

.anva-framework .section-contact_fields .dynamic-contact-fields ul {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 0;
  margin: 10px 0 0;
  padding: 10px;
}

.anva-framework .section-contact_fields .dynamic-contact-fields ul.empty:before {
  content: 'Click on "Add" button';
  color: #bbb;
  display: block;
  font-size: 13px;
  padding: 10px;
  text-align: center;
}

.anva-framework .section-contact_fields .dynamic-contact-fields ul li {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 0;
  color: #000;
  font-weight: bold;
  padding: 15px;
  position: relative;
}

.anva-framework .section-contact_fields .dynamic-contact-fields ul li a {
  position: absolute;
  right: 15px;
  top: 15px;
  text-decoration: none;
}

.anva-framework .section-contact_fields .dynamic-contact-fields ul li:last-child {
  margin-bottom: 0;
}

.anva-framework .section-columns .select-wrap {
  margin-right: 0;
  width: 100%;
}

.anva-framework .section-columns .select-wrap.last {
  margin-right: 0;
}

.anva-framework .section-columns p.inactive {
  background: #f9f9f9;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  color: #777;
  padding: 3px 10px;
  margin: 0;
  line-height: 29px;
}

.anva-framework .section-double_text .double-inputs .input-col {
  float: left;
  margin-right: 4%;
  width: 48%;
}

.anva-framework .section-double_text .double-inputs .input-col.last {
  margin-right: 0;
}

.anva-framework .section-code .controls,
.anva-framework .section-code .explain {
  float: none !important;
  max-width: 100% !important;
  padding-right: 0 !important;
  width: 100% !important;
}

.anva-framework .section-code .explain {
  margin: 0 0 15px;
}

/* --------------------------------------------------------- */
/* Background
/* --------------------------------------------------------- */
.anva-framework .anva-background-properties {
  clear: both;
  margin-top: 18px;
}

.anva-framework .anva-background-properties .anva-input-label {
  margin: 5px 0;
}

.anva-framework .anva-background-repeat,
.anva-framework .anva-background-position,
.anva-framework .anva-background-attachment {
  margin: 3px 0;
  width: 100%;
}

.anva-framework .section-background .wp-picker-container {
  margin-bottom: 10px;
}

/* --------------------------------------------------------- */
/* Radio
/* --------------------------------------------------------- */
.anva-framework .controls .anva-radio-img-label {
  margin: 5px 0 0;
  color: #777;
  text-align: center;
  text-transform: capitalize;
  display: none;
}

.anva-framework .controls .anva-radio-img-box {
  margin: 0 5px 5px 0;
  float: left;
  padding: 8px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
}

.anva-framework .controls .anva-radio-img-box .anva-radio-img-img {
  border: 0;
  display: none;
  cursor: pointer;
  border-radius: 0;
}

.anva-framework .controls .anva-radio-img-box span {
  border-radius: 0;
  cursor: pointer;
  display: table-cell;
  line-height: 0;
  position: relative;
}

.anva-framework .controls .anva-radio-img-box span:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 0;
  border-radius: 0;
  background-origin: border-box;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.25)), -webkit-linear-gradient(right bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.25)), linear-gradient(to left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
}

.anva-framework .controls .anva-radio-img-radio {
  display: block !important;
  margin: 8px auto 0;
}

.anva-framework .controls .anva-radio-img-selected {
  border-color: #1e8cbe;
  background: rgba(30, 140, 190, 0.2);
  box-shadow: 0 0 0 1px #1e8cbe;
  position: relative;
}

.anva-framework .controls .anva-radio-img-img:hover {
  opacity: .8;
}

/* --------------------------------------------------------- */
/* Section Notices
/* --------------------------------------------------------- */
.anva-framework .section-info {
  border: 1px solid #ddd;
  border-left: 6px solid #00c8fa;
  border-radius: 0;
  margin: 15px 0 10px;
  padding: 10px 10px 0;
  text-shadow: none;
}

.anva-framework .section-info.success {
  border-left-color: #5fc778;
}

.anva-framework .section-info.warning {
  border-left-color: #f9e149;
}

.anva-framework .section-info.danger {
  border-left-color: #ff5b79;
}

.anva-framework .section-info > p {
  color: #777;
  margin: 5px 0 10px;
  padding: 0;
}

.anva-framework .section-info a {
  text-decoration: none;
}

.anva-framework .section-info > h4 {
  font-weight: bold;
  margin: 0;
}

/* --------------------------------------------------------- */
/* Buttons
/* --------------------------------------------------------- */
.anva-framework .group-button {
  border-collapse: separate;
  display: table;
  position: relative;
}

.anva-framework .group-button span {
  display: table-cell;
  position: relative;
  font-size: 0;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
}

.anva-framework .group-button span .button {
  border-radius: 0;
  box-shadow: none;
  height: 33px;
}

.anva-framework .controls input.sidebar,
.anva-framework .controls input.upload {
  display: table-cell;
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 33px;
  box-shadow: none;
  border-right: 0;
}

.anva-framework .anva-input-file {
  margin-bottom: 10px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 0;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 13px;
  margin-bottom: 10px;
  padding: 5px 8px 6px 8px;
  width: 100%;
}

.anva-framework .screenshot {
  box-sizing: border-box;
  margin: 15px 0;
  margin-left: 1px;
  max-width: 100%;
  position: relative;
}

.anva-framework .screenshot:hover .remove-image {
  opacity: 1;
}

.anva-framework .screenshot .no_image .file_link {
  margin-left: 20px;
}

.anva-framework .screenshot .no_image .remove-button {
  bottom: 0px;
}

.anva-framework .screenshot img {
  background: #fafafa;
  border: 1px solid #eee;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  padding: 4px;
}

.anva-framework .screenshot .remove-image {
  opacity: 0;
  cursor: pointer;
  display: block;
  height: 24px;
  width: 24px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  z-index: 10;
  top: -5px;
  right: -5px;
  outline: 0;
  background: #eee;
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgba(0, 0, 0, 0.15);
  -webkit-transition: opacity .1s ease;
  transition: opacity .1s ease;
  color: #222;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
}

.anva-framework .screenshot .remove-image:hover {
  color: red;
}

.anva-framework .section-upload .screenshot.has-image,
.anva-framework .section-background .screenshot.has-image {
  border: 1px solid #ddd;
  border-radius: 0;
  padding: 15px;
  max-width: 100%;
}

.anva-framework .section-radio label,
.anva-framework .section-multicheck label {
  max-width: 90%;
  line-height: 16px;
}

/* --------------------------------------------------------- */
/* Helpers
/* --------------------------------------------------------- */
.anva-framework .hide {
  display: none;
}

.anva-framework .anva-option-image {
  max-width: 340px;
  margin: 3px 0 18px 0;
}

.anva-framework .mini .controls select,
.anva-framework .section .mini .controls {
  width: 140px;
}

.anva-framework .mini .controls input,
.anva-framework .mini .controls {
  min-width: 140px;
  width: 140px;
}

.anva-framework .mini .explain {
  max-width: 74%;
}

/* --------------------------------------------------------- */
/* Editor
/* --------------------------------------------------------- */
.anva-framework .section-editor .explain {
  max-width: 98%;
  float: none;
  margin-bottom: 5px;
}

/* --------------------------------------------------------- */
/* Animations
/* --------------------------------------------------------- */
@-webkit-keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
            transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
            transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
            transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
            transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

.bounceIn {
  -webkit-animation-name: bounceIn;
          animation-name: bounceIn;
}
