## General
._*
*.css.map
*.js.map
*.html
*.log
*.kit
*.sublime-classdb
.Trashes
.htaccess
.txt
.zip
/readme.html
/license.txt

## Mac
.DS_Store

## Windows
Thumbs.db
Desktop.ini

## Development
.sass-cache
prepros.cfg
config.codekit
/.tools/src
/.tools/dist
/.tools/zip
/.tools/release
/.tools/build
/.tools/build-theme
/.tools/log
/.tools/npm-debug.log
/.tools/node_modules
/.tools/bower_components
