/*
 * Default Button Styles
 */

body:not(.device-touch) {
	.button {
  	transition: all .2s ease-in-out;
	}
}

.button {
	display: inline-block;
	position: relative;
	cursor: pointer;
	outline: none;
	white-space: nowrap;
	margin: 5px;
	padding: 0 22px;
	font-size: $font-size-base;
	height: 40px;
	line-height: 40px;
	background-color: $theme-color;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	border: none;
	text-shadow: 1px 1px 1px rgba(black, .2);

	&:hover {
		background-color: #333;
		color: #fff;
		text-shadow: 1px 1px 1px rgba(black, .2);
	}

	i {
  	position: relative;
  	top: 0px;
  	line-height: 1;
  	margin-right: 5px;
	}

	&.button-desc {
		text-align: left;
  	padding: 24px 34px;
  	font-size: 22px;
  	height: auto;
  	line-height: 1 !important;

	  span {
	  	display: block;
	  	margin-top: 10px;
	  	font-size: 14px;
	  	font-weight: 400;
	  	letter-spacing: 1px;
	  	font-style: italic;
	  	text-transform: none;
	  }
	}

	&.button-mini {
		padding: 0 14px;
		font-size: 11px;
		height: 28px;
		line-height: 28px;
	}

	&.button-small {
		padding: 0 17px;
		font-size: 12px;
		height: 34px;
		line-height: 34px;
	}

	&.button-large {
	  padding: 0 26px;
	  font-size: 16px;
	  height: 46px;
	  line-height: 46px;
	}

	&.button-xlarge {
	  padding: 0 32px;
	  font-size: 18px;
	  letter-spacing: 2px;
	  height: 52px;
	  line-height: 52px;
	}

	&.button-dark {
		background-color: #333;
		&:hover {
			background-color: $theme-color;
		}
	}

	&.button-light {
		border: 2px solid #444;
	  background-color: transparent;
	  color: #444;
	  line-height: 36px;
	  font-weight: 600;
	  text-shadow: none;
	  &:hover {
		  background-color: #444;
		  color: #fff;
		  border-color: transparent;
		  text-shadow: 1px 1px 1px rgba(black, .2);
		}

	  &.button-mini {
  		line-height: 24px;
		}

		&.button-small {
  		line-height: 30px;
		}

		&.button-large {
  		line-height: 42px;
		}
		
		&.button-xlarge {
  		line-height: 48px;
		}
	}

	&.button-rounded {
  	border-radius: $border-radius;
	}

	&.button-3d {
	  border-radius: $border-radius;
	  border-bottom: 3px solid rgba(black, .15);
	  transition: none;
	}

	.post-list & {
		margin: 0;
	}

}

@mixin button-color($color) {
	background-color: $color;
	&:hover {
		background-color: darken($color, 5%);
	}
}

$color-aqua:	 	#40C0CB;
$color-red: 		#C02942;
$color-yellow: 	#ECD078;
$color-green: 	#59BA41;

.button-aqua {;
	@include button-color($color-aqua);
}

.button-red {
	@include button-color($color-red);
}

.button-yellow {
	@include button-color($color-yellow);
}

.button-green {
	@include button-color($color-green);
}