/* ----------------------------------------------------------------
    Retina CSS
-----------------------------------------------------------------*/

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #logo {
        a {
            &.standard-logo {
                display: none;
            }
            &.retina-logo {
                display: block;
            }
        }
    }
    .owl-carousel.owl-loading,
    .preloader,
    .preloader2,
    .form-process {
        background-image: url('../images/preloader@2x.gif');
        background-size: 24px 24px;
    }
    .dark {
        .owl-carousel.owl-loading,
        .preloader,
        .preloader2,
        .form-process {
            background-image: url('../images/preloader-dark@2x.gif');
        }
    }
    .widget_recent_comments {
        li {
            background-image: url("../images/icons/widget-comment@2x.png");
            background-size: 15px 26px;
        }
    }
    .widget_nav_menu,
    .widget_links,
    .widget_meta,
    .widget_archive,
    .widget_recent_entries,
    .widget_categories,
    .widget_pages,
    .widget_rss,
    .widget_recent_comments {
        li a {
            background-image: url("../images/icons/widget-link@2x.png");
            background-size: 4px 20px;
        }
    }
    .dark {
        .widget_recent_comments {
            li {
                background-image: url("../images/icons/widget-comment-dark@2x.png");
            }
        }
    }
    .dark {
        .widget_nav_menu,
        .widget_links,
        .widget_meta,
        .widget_archive,
        .widget_recent_entries,
        .widget_categories,
        .widget_pages,
        .widget_rss,
        .widget_recent_comments {
            li a {
                background-image: url("../images/icons/widget-link-dark@2x.png");
            }
        }
    }

    @media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 991px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 991px), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (max-width: 991px), only screen and (min-device-pixel-ratio: 2) and (max-width: 991px), only screen and (min-resolution: 192dpi) and (max-width: 991px), only screen and (min-resolution: 2dppx) and (max-width: 991px) {
        #logo {
            a {
                &.standard-logo {
                    display: none;
                }
                &.retina-logo {
                    display: inline-block;
                }
            }
        }
    }
}
