// Boxed
$configuration: (
	font-size: 13px,
	line-height: 1.5,
	border-radius: 4px,
	gutter: 20px
);

// Browser Support
// ------------------------------------------------
$browser-minimum-versions: (
	'chrome':  '30',
	'firefox': '25',
	'ie':      '8',
	'safari':  '5',
	'opera':   '12'
) !global;

// Palette
// ------------------------------------------------
$palette: (
	'0': 					#2acbf5,
	'1': 					#cccccc,
	'2': 					#02C1F3,
	'3': 					#888888,
	'4': 					#222222,
	'5': 					#111111,
	'body': 			#f2f2f2,
	'container':  #ffffff,
	'link': 			#3498db,
	'link-hover': saturate(#3498db, 20%),
	'loud': 			#000000
);

$color-0: #2ACBF5;
$color-1: #cccccc;
$color-2: #02C1F3;
$color-3: #999999;
$color-4: #111111;
$container-background-color: #fff;
$base-background-color: #f2f2f2;
$link-color: #3498db;
$link-hover-color: saturate($link-color, 20%);
$quiet-color: #ccc;
$loud-color: #000;

// Font Stacks
// ------------------------------------------------
$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$geo-times: Georgia, Times, 'Times New Roman', serif;
$monospace: Menlo, Monaco, Courier, MonoSpace, Consolas;
$icon-font: 'FontAwesome';

// Font And Others Settings
// ------------------------------------------------

$base-font-size: 13px;
$base-line-height: 1.5;
$base-font-color: #777;
$base-font-family: $helvetica;
$base-font-weight: 400;

$code-font-family: $monospace;

$heading-font-color: #000;
$heading-font-family: $helvetica;
$heading-font-line-height: 1.1;
$heading-font-weight: 700;

$icon-font-family: $icon-font;
$logo-size: 200px;

$menu-font-size: 14px;
$menu-font-weight: normal;
$menu-font-family: $helvetica;
$menu-text-shadow: none;
$menu-text-transform: capitalize;
$sub-menu-font-size: 14px;

$fixed-font-family: $monospace;
$fixed-font-size: 13px;
$fixed-line-height: 18px;

$footer-font-color: #333;
$footer-font-size: 13px;
$footer-link-color: $link-color;
$footer-heading-font-size: 18px;
$footer-heading-font-color: #333;

$widget-heading-font-color: #333;
$widget-heading-font-size: 18px;

$border-radius: 4px;
$padding: 20px;

// Headings
// ------------------------------------------------
$h1: 27px;
$h2: 24px;
$h3: 18px;
$h4: 14px;
$h5: 13px;
$h6: 11px;

// Neat
// ------------------------------------------------
$column: 20px !default;
$gutter: 20px !default;
$grid-columns: 12 !default;
$max-width: 1000px;
$border-box-sizing: false !default;
$default-feature: max-width;

$breakpoints: (
	phone-small: 320px,
	phone-medium: 480px,
	tablet-medium: 767px,
	tablet-small: 750px,
	desktop: 992px
);

$layout-columns: (
	phone: 4,
	tablet: 8,
	desktop: 12
);

$visual-grid: false !default;
$visual-grid-color: red !default;
$visual-grid-index: front !default;
$visual-grid-opacity: 0.4 !default;
