@import "functions";
@import "variables";
@import "mixins";

// Colors
$red: #ff0000;
$orange: #FFA500;
$green: #9ACD32;
$blue: #00BFFF;

// Class slug
$skin: '.skin';

// Change the style with a mixin
@mixin skin-color( $color ) {

	#header {
		border-color: $color;
	}

	nav.main-navigation {

	}

	// @include group-buttons() {
	// 	color: #000;
	// 	border-color: $color;
	// }
}

#{$skin}_blue {
	@include skin-color( $blue );
}

#{$skin}_green {
	@include skin-color( $green );
}

#{$skin}_red {
	@include skin-color( $red );
}

#{$skin}_orange {
	@include skin-color( $orange );
}