@import "plugins/susy";
@import "plugins/breakpoint";
@import "theme/functions";
@import "theme/variables";
@import "theme/mixins";

// If resposnsive is disabled in the options
@include container-class() {
	@include container();
	width: auto; // reset width
}

/*
 * Large Devices 992px - Change to 750px
 */
@include responsive-media(desktop-and-below, desktop-layout) {

	/* Layout */
	@include container-class() {
		@include pad(15px);
		@include container(break(tablet-and-below)); // 752px
	}
	
	#container {
		@include boxed-layout(break(tablet-and-below));
	}	

	.content-area {
		@include span(8);
	}

	.widget-area {
		@include span(4 last);
	}
	
	/*
	 * Header
	 */
	div.brand {
		float: none;
		text-align: center;
		
		a.logo {
			margin: 0 auto;
		}
	}

	div.addon {
		margin: 40px auto 0;
		right: 0;
		position: static;
		text-align: center;
		top: 0;

		form.search-form,
		form#searchform,
		.social-media {
			margin: 0 auto;
			width: 70%;
		}

		.social-media {
			margin-top: 15px;
		}
	}

	form {
		&.search-form,
		&#searchform {			
			button,
			input {				
				&.search-submit,
				&#searchsubmit {
					font-size: 12px;
				}
			}
		}
	}

	.header-bottom {
		border-bottom: 1px solid #eee;
	}

	/*
	 * Off Canvas
	 */
	.off_canvas_navigation {
		#off-canvas-button,
		.off-canvas-navigation {
			display: block;
		}
		
		.mobile-navigation,
		.main-navigation {
			display: none;
		}
	}
		
	.toggle_navigation {
		#off-canvas-button,
		.off-canvas-navigation {
			display: none;
		}
		
		.mobile-navigation {
			display: block;
		}

		.main-navigation {
			display: none;
		}
	}

	/*
	 * Navigation
	 */
	ul.navigation-menu {
		> li {
			border-right: 0;
			border-top: 1px solid rgba($color-3, .4);
			display: block;
			float: none;
			margin-left: 0px;
						
			> a {
				line-height: 38px;
				padding: 0 12px;
				text-align: left;
				text-transform: uppercase;
			}

			ul.sub-menu {
				border: 0;
				margin: 0;
				position: relative;				
				width: auto;
				
				li {
					 ul.sub-menu {
						left: 0;
						position: relative;
						width: auto;
					}
				}
			}				
		}
	}

	/*
	 * Navigation
	 */
	nav.main-navigation {
		float: none;
		text-align: center;
	}
	
	/*
	 * Slides
	 */
	.flex-direction-nav {
		.flex-prev {
			display: none;
			opacity: 0;
			left: 10px;
		}
		.flex-next {
			display: none;
			opacity: 0;
			right: 10px;
		}
	}

	/*
	 * Galleries
	 */
	.gallery-columns-4 {
		.gallery-item {
			width: 50% !important;
		}
	}

}

/*
 * Medium Mobile Devices 767px - Change to 480px
 */
@include responsive-media(tablet-only, tablet-layout) {

	/* Layout */
	@include container-class() {
		@include container(break(phone-and-below )); // 480px;
	}

	#container {
		@include boxed-layout(break(phone-and-below));
	}

	/*
	 * Set order in columns
	 */
	.grid-columns {
		display: flex;
		flex-direction: column;
		box-orient: vertical;
	}

	.content-area,
	.widget-area {
		@include reset-float();
	}

	.content-area {
		margin-bottom: $padding;
		&.right {
			@include reset-float( none, true );
			order: 1;
		}
	}
	
	.widget-area {
		&.left {
			@include reset-float( none, true );
			order: 2;
		}
	}

	.sidebar-layout-double {
		.content-area {
			&.center {
				order: 1;
				@include reset-float(right, true);
			}
		}
		.widget-area {
			&.left,
			&.right {
				@include reset-float(none, true);
				order: 2;
			}
		}
	}

	.sidebar-layout-double-left {
		.content-area {
			&.right {
				@include reset-float(none, true);
				order: 1;
			}
		}
		.widget-area {
			&.left,
			&.right {
				@include reset-float(none, true);
				order: 2;
			}
		}
	}

	.sidebar-layout-double-right {
		.content-area {
			&.left {
				@include reset-float(none, true);
				order: 1;
			}
		}
		.widget-area {
			&.left,
			&.right {
				@include reset-float(none, true);
				order: 2;
			}
		}
	}

	/*
	 * Header
	 */
	div.brand {
		margin: $padding 0;
	}
	
	/*
	 * Featured
	 */
	#featured {
		margin: 0 0 $padding;	
	}

	/*
	 * Footer
	 */
	.footer-inner {
		margin: $padding auto 0;
	}

	.footer-widget {
		.widget {
			margin: 0 0 $padding;
			width: 100%;
		}
	}

	/*
	 * Grid Columns
	 */
	.grid-columns,
	.entry-content {
		[class*="column-"] {
			display: block;
			float: none;
			margin-right: 0;
			margin-bottom: $padding;
			width: 100%;
		}
	}

	/*
	 * Slides
	 */
	.flex-control-nav,
	.flex-pauseplay {
		display: none;
	}
	
	/*
	 * Blog Columns
	 */
	.blog-2-cols,
	.blog-3-cols {
		article.post {
			@include reset-float( right, true );
		}
		
		.entry-thumbnail {
			img {
				display: block;
				margin: 0 auto;
			}
		}
	}

	/*
	 * Galleries
	 */
	.gallery-columns-3 {
		.gallery-item {
			width: 50% !important;
		}

		br {
			clear: none !important
		}
	}

}