/* ==========================================================================
   Comments
   ========================================================================== */

/*
 * Headings
 */
h2.comments-title,
h3.comment-reply-title {
	font-size: 18px;
	margin: 0 0 $padding;
}

#respond {
	clear: both;
}

/*
 * Comment List
 */
.comment-list {
	@include reset-list();
	margin: $padding 0;

	ul.children {
		clear: both;
		list-style: none;
		margin: $padding 0 0;
		padding: 0 0 0 10%;
	}
}

/*
 * Commment Body
 */
.comment-body {
	border: 1px solid #ccc;
	margin-bottom: $padding;
	padding: 10px;
	width: 100%;
}

/*
 * Comment Author
 */
.comment-author {
	margin: 0 0 10px;
}

/* Hide 'says' */
.says {
	display: none;
	visibility: hidden;
}

/* Author Nickname */
.fn {
	font-style: normal;
	@include font-stack-headers;
}

/* Comment Meta */
.comment-metadata {
	a {
		color: #999;
		&:hover {
			text-decoration: underline;
		}	
	}
}

/* Hightlight Author Comments */
.bypostauthor {
	.comment-body {
		background: #eee;
	}
}

/* Moderation */
.comment-awaiting-moderation {
	background: #aaa;
	border: 1px solid #ddd;
	padding: 10px;
}

/* 
   Comment Form
   ========================================================================== */

.comment-form {
	@include group-inputs() {
		border: 2px solid #ddd;
		border-radius: 3px;
		font-size: 12px;
		margin: 0 0 2px;
		padding: 8px;
		width: 100%
	}
}

.comment-form {

	label {
		display: block;
		font-weight: 700;
		margin: 10px 0 2px;
	}

	.form-submit {
		text-align: right;
	}

}

#cancel-comment-reply {
	small {
		font-size: $base-font-size;
	}
}

.comment-reply-link,
#cancel-comment-reply-link {
	@extend .button;
}

.comment-subscription-form {
	font-size: 90%;
	margin: 0;
}

.form-allowed-tags {
	display: none;
}