/* ==========================================================================
	 Layout
	 ========================================================================== */

// Inner container group
@include container-class() {
	@include container-width($container-width, $padding);
}

// Container
#container {
	background: color('container');
	position: relative;
	@include boxed-layout( $max-width );
}

// Group content
.content-inner {
	margin: $padding 0 0;
	position: relative;
}

// Content
.content-area {
	@include span(8);

	&.right {
		@include span(8 last);
		margin-right: 0;
	}

	&.center {
		@include span(6)
	}

	.full-width {
		@include reset-float(right, false);
	}
}

// Sidebar
.widget-area {
	@include span(4 last);
	&.left {
		@include span(4);
	}
}

.sidebar-layout-double {
	.widget-area {
		&.left {
			@include span(3);
		}
		&.right {
			@include span(3 last);
		}
	}
}

.sidebar-layout-double-left {
	.content-area {
		&.right {
			@include span(6 last);
		}
	}
	.widget-area {
		&.left {
			@include span(3);
		}
		&.right {
			@include span(3);
		}
	}
}

.sidebar-layout-double-right {
	.content-area {
		&.left {
			@include span(6);
		}
	}
	.widget-area {
		&.left {
			@include span(3);
		}
		&.right {
			@include span(3 last);
		}
	}
}

// Group main content
.main {
	margin: 0 0 $padding*2;
}

// Featured slider
#featured {
	margin: 15px 0 $padding;
}

.homepage-sidebar {
	margin-bottom: 40px;
}