/* ==========================================================================
	 Footer
	 ========================================================================== */

.footer-inner {
	color: $footer-font-color;
	font-size: $footer-font-size;
	padding-bottom: $padding;

	a {
		color: $footer-link-color;
		&:hover {
			text-decoration: underline;
		}
	}

	ul {
		@include reset-list();
	}

}

.footer-content {
	border-top: 1px solid #eee;
	padding: $padding*2 0 $padding;
}

/*
 * Footer Widget Area
 */
.footer-widget {
	margin: 0 auto;
	
	.widget {
		background-color: transparent;
		border: 0;
		margin-bottom: $padding;
	}

	.widget-title {
		color: $footer-heading-font-color;
		font-size: $footer-heading-font-size;
	}

}

/*
 * Footer Copyright
 */
.footer-copyright {
	border-top: 1px solid #eee;
	padding-top: $padding;
	clear: both;

	p {
		margin: 0;
	}

}

/*
 * Go Top
 */
#gotop {
	font-size: 32px;
	position: fixed;
	bottom: 10px;
	right: $padding;
	opacity: .6;

	&:hover {
		opacity: 1;
	}
}