/* ==========================================================================
	 Footer
	 ========================================================================== */

/*
 * Header
 */
.header-inner {
	position: relative;
}

/*
 * Group Header Top
 */
.header-top {
	margin-bottom: $padding;
	padding: $padding 0;
}

/*
 * Logo
 */
div.brand {
	float: left;
	
	a.logo {
		display: block;
		max-width: $logo-size;
	}
	
}

/*
 * Addons
 */
div.addon {
	position: absolute;
	right: $padding;
	top: 15%;
}

/*
 * Search
 */
form {
	&.search-form,
	&#searchform {

		label {
			display: inline;
		}
		
		button,
		input {
			
			&.search-field,
			&#s {
				border: 1px solid #ccc;
				border-radius: $border-radius 0 0 $border-radius;
				float: left;
				height: 33px;
				width: 80%;
			}
			
			&.search-submit,
			&#searchsubmit {
				border-radius: 0 $border-radius $border-radius 0;
				height: 33px;
				line-height: 33px;
				padding: 0;
				margin: 0;
				width: 20%; 
			}

		}
	}
}