/* ==========================================================================
   Widgets
   ========================================================================== */

/*
 * Main widgets
 */
.widget {
	margin: 0 0 $padding;
	
	ul {
		@include reset-list();
	}

	p:last-child {
		margin: 0;
	}
}

/*
 * Widgets Title
 */
.widget-title {
	color: $base-font-color;
	display: block;
	font-size: $widget-heading-font-size;
	margin: 0 0 .5em;
	@include font-stack-headers();
}

/*
 * Custom Posts
 */
.widget_custom_posts {
	.posts {
		@include reset-list();
		li {
			margin-bottom: 12px;

			h4 {
				margin: 0 0 5px;
			}

			img {
				border: 4px solid #fff;
				border-radius: 4px;
				box-shadow: 0 0 0 1px #ddd;
				float: left;
				margin: 0 15px 0 0;
				max-width: 90px;
			}

			.post-date {
				display: block;
			}
		}
	}
}

/*
 * Social Media
 */
.widget_social_media {
	.social-media {
		margin-top: 10px;
	}
}

/*
 * Custom Contact Info
 */
.widget_custom_contact {
	.widget-contact-info {
		li {
			line-height: 20px;
			margin: 3px 0;
			.fa {
				font-size: 16px;
				padding-right: 5px;
			}
		}
	}
	
	// Include Social Media Icons
	$icon-size: 24px;

	.social-media {
		margin-top: 8px;
		li {
			margin: 0 1px;
			a {
				height: $icon-size;
				width: $icon-size;
			}
		}
	}

	.social-style-color {
		.social {
			background-size: $icon-size;
		}
		@include spritesheet-icon($icon-size);
	}
}

/*
 * Widget services
 */
.service-image,
.service-content {
	margin-bottom: 10px;
}