/* ----------------------------------------------------------------
	Base Colors
-----------------------------------------------------------------*/
/* ---------------------------------------------------------------- */
/* Line Height Variables
/* ---------------------------------------------------------------- */
/* ----------------------------------------------------------------
	Margins
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
	Font Families
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
	Font Sizes
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
	Layouts
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
	Helpers
-----------------------------------------------------------------*/
.anva-meta-box input[type="text"],
.anva-meta-box input[type="tel"],
.anva-meta-box input[type="number"],
.anva-meta-box input[type="date"],
.anva-meta-box input[type="time"],
.anva-meta-box select,
.anva-meta-box textarea {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 0;
          border-radius: 0;
  margin: 0;
  width: 100%;
}

.anva-meta-box input[type="checkbox"] {
  position: relative;
  top: 2px;
}

.anva-meta-box input.anva-checkbox,
.anva-meta-box input.anva-radio {
  margin: 0 10px 5px 0;
  float: left;
  clear: both;
}

.anva-meta-box .ui-spinner {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  padding: 5px;
}

.anva-meta-box .anva-spinner {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.anva-meta-box .anva-spinner:focus {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.anva-meta-box .nav-tab-wrapper {
  border-bottom: 1px solid #ddd;
  padding-bottom: 0 !important;
}

.anva-meta-box .nav-tab {
  background: #f6f6f6 url("images/ui-bg_highlight-soft_100_f6f6f6_1x100.png") 50% 50% repeat-x;
  border: 1px solid #ddd;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  line-height: 24px;
  min-width: 48px;
  text-align: center;
}

.anva-meta-box .nav-tab-active {
  background: #fff;
  border-bottom: 1px solid #fff;
}

.anva-meta-box .section-radio label,
.anva-meta-box .section-multicheck label {
  float: left;
  max-width: 90%;
  line-height: 16px;
  margin-bottom: 5px;
}

.anva-meta-box h3 {
  display: none;
  padding: 8px 0 !important;
}

.anva-meta-box h4 {
  margin-bottom: 10px;
}

.anva-meta-box .group {
  margin-bottom: 8px;
}

.anva-meta-box .option:before,
.anva-meta-box .option:after {
  content: " ";
  display: table;
}

.anva-meta-box .option:after {
  clear: both;
}

.anva-meta-box .explain {
  font-size: 12px;
  margin-top: 10px;
  line-height: 1.4;
  color: #777;
}

.anva-meta-box .section-multicheck label {
  display: block;
  margin: 3px 0;
}

.anva-meta-box .section-layout .sidebar-layout .item {
  margin-top: 10px;
}

.anva-meta-box .section-layout .sidebar-layout .item label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.anva-meta-box .postbox {
  min-width: 0;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
}

.section-description {
  border-bottom: 1px solid #e5e5e5;
  color: #888;
  font-size: 13px;
  font-style: italic;
  margin: 0;
  padding: 8px 0 12px;
}

#normal-sortables .controls,
#normal-sortables .explain {
  float: left;
  padding-right: 4%;
  width: 54%;
}

#normal-sortables .explain {
  max-width: 42%;
  margin-top: 0;
  padding-right: 0;
}

#side-sortables .controls,
#side-sortables .explain {
  float: none;
  width: 100%;
}

#side-sortables .controls:before,
#side-sortables .controls:after {
  content: " ";
  display: table;
}

#side-sortables .controls:after {
  clear: both;
}

.tzp-metabox {
  display: block;
  padding: 10px 15px 20px;
  border: 1px solid #eee;
  margin-top: 15px;
}

.tzp-metabox > p {
  margin: -10px -15px 15px;
  color: #999;
  font-style: italic;
  background: #f9f9f9;
  padding: 20px 15px;
  border-bottom: 1px solid #eee;
}

.tzp-field:before,
.tzp-field:after {
  content: ' ';
  display: table;
}

.tzp-field:after {
  clear: both;
}

.tzp-field {
  clear: both;
  margin-top: 1em;
}

.tzp-field h4 {
  margin-top: 0;
}

.tzp-metabox label {
  display: block;
  margin-top: 5px;
}

.tzp-left {
  float: left;
  padding-right: 4%;
  vertical-align: top;
  width: 54%;
}

.tzp-right {
  float: left;
  vertical-align: top;
  width: 42%;
}

.tzp-desc {
  font-size: 12px;
  font-style: normal;
  line-height: 16px;
  color: #777;
  margin-top: 0;
}

.tzp-metabox input[type="text"],
.tzp-metabox textarea {
  vertical-align: top;
  width: 100%;
}

.tzp-metabox input[type="text"].file {
  margin-right: 10px;
  width: 78%;
}

.tzp-inline-checkboxes {
  margin: 5px 0 0 3px;
}

.tzp-inline-checkboxes li {
  margin: 0 0 5px;
}

.tzp-inline-checkboxes label {
  display: inline;
  margin-left: 3px;
}
