/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html, body {
  color: #666666;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
  overflow-x: hidden; }

body {
  background: #f2f2f2; }

html, button, input, select, textarea {
  color: #777; }

/*
 * Remove underline on links
 */
a {
  text-decoration: none; }

a:hover, a:focus {
  text-decoration: none; }

/*
 * Fix ul and ol list in article tags
 */
article ul, article ol ul, article ul ul {
  list-style: disc; }
article ol, article ul ol, article ol ol {
  list-style: decimal; }

/*
 * Fluid Images
 */
img {
  max-width: 100%;
  height: auto; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio, canvas, img, video {
  vertical-align: middle; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Selection.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * Color style text inputs
 */
input[type="text"], input[type="datetime"], input[type="date"], input[type="tel"], input[type="email"], input[type="url"], input[type="number"], input[type="password"], input[type="search"], select, textarea {
  border: 1px solid #c9c9c9;
  color: #2a2a2a;
  font-size: 13px;
  outline: 0;
  padding: 5px;
  -webkit-border-radius: 0;
          border-radius: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
	 Typography
	 ========================================================================== */
/*
 * Links
 */
a, a.link {
  color: #3498db; }
  a:hover, a.link:hover {
    color: #5faee3; }

/*
 * Fix font headings size
 */
h1, .h1 {
  font-size: 27px; }

h2, .h2 {
  font-size: 24px; }

h3, .h3 {
  font-size: 18px; }

h4, .h4 {
  font-size: 14px; }

h5, .h5 {
  font-size: 13px; }

h6, .h6 {
  font-size: 11px; }

/*
 * Headings
 */
h1, h2, h3, h4, h5, h6 .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #000000;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-weight: bold;
  line-height: 1.1;
  margin-top: 10px;
  margin-bottom: 10px; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 .h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a {
    color: inherit; }
    h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 .h1 a:hover, .h2 a:hover, .h3 a:hover, .h4 a:hover, .h5 a:hover, .h6 a:hover {
      color: inherit; }

blockquote {
  font-size: 14px; }

/*
 * Code
 */
code, kbd, pre, samp {
  font-family: Menlo, Monaco, Courier, MonoSpace, Consolas;
  font-size: 13px; }

code {
  display: inline-block;
  padding: 0 3px; }

/* Layout Boxed */
.layout_boxed #container {
  margin: 0 auto;
  max-width: 1000px; }

/* Layout Wide */
.layout_wide #top #header, .layout_wide #main, .layout_wide #bottom #footer {
  margin: 0 auto;
  max-width: 1000px; }
.layout_wide #container {
  max-width: 100%; }

/* Container */
#container {
  background: #ffffff;
  position: relative; }

#main {
  padding: 20px 30px; }

/* Content */
/* Inner content */
.inner {
  margin: 0 0 20px; }

#top {
  border-top: 4px solid #2acbf5;
  position: relative;
  padding: 0 30px; }

.header-content-inner {
  padding: 25px 0; }

/*
 * Brand
 */
div.brand {
  float: left; }
  div.brand img {
    max-height: 50px; }

nav.main-navigation {
  margin-top: 0;
  position: absolute;
  right: 30px;
  width: auto; }

div.navigation-inner {
  display: block;
  position: relative;
  width: 100%; }

ul.navigation-menu {
  list-style: none;
  margin: 0;
  padding-left: 0; }
  ul.navigation-menu ul.sub-menu {
    min-width: 200px; }
  ul.navigation-menu > li {
    float: left;
    position: relative; }
    ul.navigation-menu > li > a {
      color: #888;
      display: block;
      font-size: 14px;
      font-weight: normal;
      line-height: 48px;
      padding: 0 15px 25px;
      text-align: center;
      text-shadow: none;
      text-transform: capitalize; }
    ul.navigation-menu > li:hover > a, ul.navigation-menu > li.current-menu-item > a, ul.navigation-menu > li.current_page_item > a {
      color: #2ACBF5; }
    ul.navigation-menu > li ul.sub-menu {
      background: #f9f9f9;
      border: 1px solid #ddd;
      border-top: 0;
      margin: 0;
      padding: 0; }
      ul.navigation-menu > li ul.sub-menu > li {
        border-bottom: 1px solid rgba(204, 204, 204, 0.4);
        display: block;
        position: relative; }
        ul.navigation-menu > li ul.sub-menu > li:hover > a, ul.navigation-menu > li ul.sub-menu > li.current-menu-item > a, ul.navigation-menu > li ul.sub-menu > li.current_page_item > a {
          background: #2ACBF5;
          color: #fff; }
        ul.navigation-menu > li ul.sub-menu > li a {
          display: block;
          font-size: 14px;
          padding: 8px 10px;
          text-align: left; }
        ul.navigation-menu > li ul.sub-menu > li ul.sub-menu {
          left: 100%;
          margin: 0; }

/*
 * Superfish Menu
 */
.sf-menu, .sf-menu * {
  list-style: none;
  margin: 0;
  padding-left: 0; }
  .sf-menu li, .sf-menu * li {
    position: relative; }
  .sf-menu ul, .sf-menu * ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99; }
  .sf-menu li:hover > ul, .sf-menu li.sfHover > ul, .sf-menu * li:hover > ul, .sf-menu * li.sfHover > ul {
    display: block; }
  .sf-menu a, .sf-menu * a {
    display: block;
    position: relative; }
  .sf-menu ul ul, .sf-menu * ul ul {
    top: 0;
    left: 100%; }

/*
 * Mobile Navigation
 */
a.toggle-button {
  background-color: #2ACBF5;
  -webkit-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
  color: #fff;
  font-size: 18px;
  margin-left: 10px;
  padding: 10px;
  display: inline-block;
  /* IE7/8 Hack */
  *display: inline;
  *zoom: 1; }
  a.toggle-button:hover {
    color: #fff; }

a.mobile-toggle {
  display: none; }

/*
 * Breadcrumbs
 */
#breadcrumbs {
  color: #777;
  margin: 15px 0;
  padding: 0; }
  #breadcrumbs p {
    margin: 0; }
  #breadcrumbs .breadcrumb_last {
    color: #999; }

/* 
	 Posts
	 ========================================================================== */
/*
 * Post Container
 */
.post {
  margin: 0 0 20px;
  position: relative; }

/*
 * Post Titles
 */
h1.entry-title, h1.page-title, h2.entry-title, h2.page-title {
  margin: 0 0 0.5em; }

/*
 * Entry Thumbnail
 */
.entry-thumbnail {
  line-height: 0;
  margin-bottom: 20px; }
  .entry-thumbnail img {
    -webkit-transition: opacity 0.2s ease;
         -o-transition: opacity 0.2s ease;
            transition: opacity 0.2s ease; }
    .entry-thumbnail img:hover {
      opacity: 0.8; }

/*
 * Post Meta
 */
.entry-meta {
  color: #999;
  margin: 0 0 10px;
  text-transform: uppercase; }
  .entry-meta a {
    color: #999; }
    .entry-meta a:hover {
      color: #666; }

time.updated {
  display: none; }

/*
 * Categories
 */
.entry-category a {
  color: #777;
  margin-right: 5px; }

/* Separator */
.sep-bullet {
  margin: 0 10px 0; }

/* Titles Headline */
.headline {
  border-bottom: 1px solid #ddd;
  color: #666;
  padding: 0 0 10px;
  margin: 0 0 20px; }

/* Summary Excerpt */
/* Post Navigation */
.entry-container {
  margin: 0 0 20px; }

.entry-content {
  margin: 0 0 20px;
  padding: 0; }

/* Pagination */
.nav-posts {
  list-style: none;
  padding-left: 0; }

.pagination {
  clear: both;
  padding: 10px 0;
  position: relative;
  font-size: 14px;
  line-height: 13px; }
  .pagination a, .pagination span-columns {
    background: #c3c3c3;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    color: #fff;
    display: block;
    float: left;
    padding: 8px 10px;
    text-decoration: none;
    width: auto; }
    .pagination a:first-child, .pagination a:last-child, .pagination span-columns:first-child, .pagination span-columns:last-child {
      -webkit-border-radius: 4px 0 0 4px;
              border-radius: 4px 0 0 4px; }
    .pagination a:last-child, .pagination span-columns:last-child {
      border-right: 0;
      -webkit-border-radius: 0 4px 4px 0;
              border-radius: 0 4px 4px 0; }
  .pagination a:hover {
    background: #2ACBF5;
    color: #fff; }
  .pagination .current {
    background: #2ACBF5;
    color: #fff; }

/* Author info */
.entry-about-author {
  background: #f2f2f2;
  margin-bottom: 20px;
  padding: 20px; }

.author-description h3 {
  margin-top: 0; }

.author-link {
  display: block;
  margin-top: 10px; }

#bottom {
  background: #222;
  color: #fff;
  padding: 10px 30px; }

#footer a {
  color: #fff; }
  #footer a:hover {
    text-decoration: underline; }
#footer ul {
  list-style: none;
  margin: 0;
  padding-left: 0; }

.footer-content {
  padding: 40px 0 20px; }

/*
 * Footer Widget Area
 */
.footer-widget .widget-title {
  color: #ffffff; }
.footer-widget.widget-columns-1 .widget {
  float: left;
  display: block;
  margin-right: 4.347826087%;
  width: 100%; }
  .footer-widget.widget-columns-1 .widget:last-child {
    margin-right: 0; }
.footer-widget.widget-columns-2 .widget {
  float: left;
  display: block;
  margin-right: 4.347826087%;
  width: 47.826086957%; }
  .footer-widget.widget-columns-2 .widget:last-child {
    margin-right: 0; }
  .footer-widget.widget-columns-2 .widget:nth-child(2n) {
    margin-right: 0; }
  .footer-widget.widget-columns-2 .widget:nth-child(2n+1) {
    clear: left; }
.footer-widget.widget-columns-3 .widget {
  float: left;
  display: block;
  margin-right: 4.347826087%;
  width: 30.434782609%; }
  .footer-widget.widget-columns-3 .widget:last-child {
    margin-right: 0; }
  .footer-widget.widget-columns-3 .widget:nth-child(3n) {
    margin-right: 0; }
  .footer-widget.widget-columns-3 .widget:nth-child(3n+1) {
    clear: left; }
.footer-widget.widget-columns-4 .widget {
  float: left;
  display: block;
  margin-right: 4.347826087%;
  width: 21.739130435%; }
  .footer-widget.widget-columns-4 .widget:last-child {
    margin-right: 0; }
  .footer-widget.widget-columns-4 .widget:nth-child(4n) {
    margin-right: 0; }
  .footer-widget.widget-columns-4 .widget:nth-child(4n+1) {
    clear: left; }
.footer-widget.widget-columns-hide {
  display: none; }

/*
 * Footer Copyright
 */
.footer-copyright {
  padding-top: 20px;
  clear: both; }
  .footer-copyright p {
    margin: 0; }

/* ==========================================================================
   Comments
   ========================================================================== */
/*
 * Headings
 */
h2.comments-title, h3.comment-reply-title {
  font-size: 18px;
  margin: 0 0 20px; }

#respond {
  clear: both; }

/*
 * Comment List
 */
.comment-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  margin: 20px 0; }
  .comment-list ul.children {
    clear: both;
    list-style: none;
    margin: 20px 0 0;
    padding: 0 0 0 10%; }

/*
 * Commment Body
 */
.comment-body {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%; }

/*
 * Comment Author
 */
.comment-author {
  margin: 0 0 10px; }

/* Hide 'says' */
.says {
  display: none;
  visibility: hidden; }

/* Author Nickname */
.fn {
  font-style: normal;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700; }

/* Comment Meta */
.comment-metadata a {
  color: #999; }
  .comment-metadata a:hover {
    text-decoration: underline; }

/* Hightlight Author Comments */
.bypostauthor .comment-body {
  background: #eee; }

/* Moderation */
.comment-awaiting-moderation {
  background: #aaa;
  border: 1px solid #ddd;
  padding: 10px; }

/* 
   Comment Form
   ========================================================================== */
.comment-form input[type="text"], .comment-form input[type="datetime"], .comment-form input[type="date"], .comment-form input[type="tel"], .comment-form input[type="email"], .comment-form input[type="url"], .comment-form input[type="number"], .comment-form input[type="password"], .comment-form input[type="search"], .comment-form select, .comment-form textarea {
  border: 2px solid #ddd;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font-size: 12px;
  margin: 0 0 2px;
  padding: 8px;
  width: 100%; }

.comment-form label {
  display: block;
  font-weight: 700;
  margin: 10px 0 2px; }
.comment-form .form-submit {
  text-align: right; }

#cancel-comment-reply small {
  font-size: 13px; }

.comment-subscription-form {
  font-size: 90%;
  margin: 0; }

.form-allowed-tags {
  display: none; }

/*
 * Shortcodes
 */
.dropcap {
  display: block;
  float: left;
  margin: 0 8px 0 0;
  font-size: 24px;
  line-height: 39px;
  background: black;
  color: white;
  width: 40px;
  height: 40px;
  text-align: center;
  -webkit-border-radius: 50px;
          border-radius: 50px; }

/* ==========================================================================
   Widgets
   ========================================================================== */
/*
 * Main widgets
 */
.widget {
  margin-bottom: 30px; }
  .widget ul {
    list-style: none;
    margin: 0;
    padding-left: 0; }
  .widget p:last-child {
    margin: 0; }

/*
 * Custom Posts
 */
.widget_custom_posts .posts {
  list-style: none;
  margin: 0;
  padding-left: 0; }
  .widget_custom_posts .posts li {
    margin-bottom: 12px; }
    .widget_custom_posts .posts li h4 {
      margin: 0 0 5px; }
    .widget_custom_posts .posts li img {
      border: 4px solid #fff;
      -webkit-border-radius: 4px;
              border-radius: 4px;
      -webkit-box-shadow: 0 0 0 1px #ddd;
              box-shadow: 0 0 0 1px #ddd;
      float: left;
      margin: 0 15px 0 0;
      max-width: 90px; }
    .widget_custom_posts .posts li .post-date {
      display: block; }

/*
 * Social Media
 */
.widget_social_media .social-media ul {
  margin-top: 10px; }

/* ==========================================================================
	 WordPress
	 ========================================================================== */
.aligncenter {
  display: block;
  margin: 0 auto;
  text-align: center; }

.alignleft {
  float: left;
  margin: 0 10px 5px 0;
  text-align: left; }

.alignright {
  float: right;
  margin: 0 0 5px 10px;
  text-align: right; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }
a img.alignnone {
  margin: 5px 20px 20px 0; }
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center; }
  .wp-caption.alignnone {
    margin: 5px 20px 20px 0; }
  .wp-caption.alignleft {
    margin: 5px 20px 20px 0; }
  .wp-caption.alignright {
    margin: 5px 0 20px 20px; }
  .wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto; }
  .wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px; }

/*
 * Default Button Styles
 */
.button, .comment-reply-link, #cancel-comment-reply-link, a.button, a.comment-reply-link, a#cancel-comment-reply-link, button, button.button, button.comment-reply-link, button#cancel-comment-reply-link, input.button, input.comment-reply-link, input#cancel-comment-reply-link, input[type="button"], input[type="submit"], input[type="reset"] {
  background: transparent;
  border: 2px solid #000;
  -webkit-border-radius: 0;
          border-radius: 0;
  color: #000;
  cursor: pointer;
  display: inline-block;
  /* IE7/8 Hack */
  *display: inline;
  *zoom: 1;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 12px;
  position: relative;
  text-align: center;
  text-shadow: none;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased; }
  .button:hover, .comment-reply-link:hover, #cancel-comment-reply-link:hover, a.button:hover, a.comment-reply-link:hover, a#cancel-comment-reply-link:hover, button:hover, button.button:hover, button.comment-reply-link:hover, button#cancel-comment-reply-link:hover, input.button:hover, input.comment-reply-link:hover, input#cancel-comment-reply-link:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover {
    background: #ff0000;
    border-color: #ff0000;
    color: #fff; }
  .button:active, .comment-reply-link:active, #cancel-comment-reply-link:active, a.button:active, a.comment-reply-link:active, a#cancel-comment-reply-link:active, button:active, button.button:active, button.comment-reply-link:active, button#cancel-comment-reply-link:active, input.button:active, input.comment-reply-link:active, input#cancel-comment-reply-link:active, input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active {
    top: 1px; }

/*
 * Blog Columns
 */
.blog-2-cols .post {
  float: left;
  display: block;
  margin-right: 4.347826087%;
  width: 47.826086957%; }
  .blog-2-cols .post:last-child {
    margin-right: 0; }
  .blog-2-cols .post:nth-child(2n) {
    margin-right: 0; }
  .blog-2-cols .post:nth-child(2n+1) {
    clear: left; }

.blog-3-cols .post {
  float: left;
  display: block;
  margin-right: 4.347826087%;
  width: 30.434782609%; }
  .blog-3-cols .post:last-child {
    margin-right: 0; }
  .blog-3-cols .post:nth-child(3n) {
    margin-right: 0; }
  .blog-3-cols .post:nth-child(3n+1) {
    clear: left; }

.blog-4-cols .post {
  float: left;
  display: block;
  margin-right: 4.347826087%;
  width: 21.739130435%; }
  .blog-4-cols .post:last-child {
    margin-right: 0; }
  .blog-4-cols .post:nth-child(4n) {
    margin-right: 0; }
  .blog-4-cols .post:nth-child(4n+1) {
    clear: left; }

/*
 * Grid
 */
.grid-columns {
  width: 100%;
  *zoom: 1; }
  .grid-columns:before, .grid-columns:after {
    display: table;
    line-height: 0;
    content: ""; }
  .grid-columns:after {
    clear: both; }
  .grid-columns [class*="grid-"] {
    display: block;
    min-height: 30px;
    width: 100%; }
  .grid-columns .grid-12 {
    float: left;
    display: block;
    margin-right: 4.347826087%;
    width: 100%; }
    .grid-columns .grid-12:last-child {
      margin-right: 0; }
  .grid-columns .grid-11 {
    float: left;
    display: block;
    margin-right: 4.347826087%;
    width: 91.304347826%; }
    .grid-columns .grid-11:last-child {
      margin-right: 0; }
  .grid-columns .grid-10 {
    float: left;
    display: block;
    margin-right: 4.347826087%;
    width: 82.608695652%; }
    .grid-columns .grid-10:last-child {
      margin-right: 0; }
  .grid-columns .grid-9 {
    float: left;
    display: block;
    margin-right: 4.347826087%;
    width: 73.913043478%; }
    .grid-columns .grid-9:last-child {
      margin-right: 0; }
  .grid-columns .grid-8 {
    float: left;
    display: block;
    margin-right: 4.347826087%;
    width: 65.217391304%; }
    .grid-columns .grid-8:last-child {
      margin-right: 0; }
  .grid-columns .grid-7 {
    float: left;
    display: block;
    margin-right: 4.347826087%;
    width: 56.52173913%; }
    .grid-columns .grid-7:last-child {
      margin-right: 0; }
  .grid-columns .grid-6 {
    float: left;
    display: block;
    margin-right: 4.347826087%;
    width: 47.826086957%; }
    .grid-columns .grid-6:last-child {
      margin-right: 0; }
  .grid-columns .grid-5 {
    float: left;
    display: block;
    margin-right: 4.347826087%;
    width: 39.130434783%; }
    .grid-columns .grid-5:last-child {
      margin-right: 0; }
  .grid-columns .grid-4 {
    float: left;
    display: block;
    margin-right: 4.347826087%;
    width: 30.434782609%; }
    .grid-columns .grid-4:last-child {
      margin-right: 0; }
  .grid-columns .grid-3 {
    float: left;
    display: block;
    margin-right: 4.347826087%;
    width: 21.739130435%; }
    .grid-columns .grid-3:last-child {
      margin-right: 0; }
  .grid-columns .grid-2 {
    float: left;
    display: block;
    margin-right: 4.347826087%;
    width: 13.043478261%; }
    .grid-columns .grid-2:last-child {
      margin-right: 0; }
  .grid-columns .grid-1 {
    float: left;
    display: block;
    margin-right: 4.347826087%;
    width: 4.347826087%; }
    .grid-columns .grid-1:last-child {
      margin-right: 0; }

/*
 * Modern Clearfix
 */
.clear:before, .clear:after, .group:before, .group:after {
  content: " ";
  display: table; }
.clear:after, .group:after {
  clear: both; }

.slider-wrapper a:hover, .slider-wrapper a:focus, .slider-inner a:hover, .slider-inner a:focus {
  outline: none; }

.slides, .flex-control-nav, .flex-direction-nav {
  list-style: none;
  margin: 0;
  padding: 0; }

.flex-pauseplay span {
  text-transform: capitalize; }

.slider-inner {
  margin: 0;
  padding: 0; }
  .slider-inner .slides > li {
    display: none;
    -webkit-backface-visibility: hidden; }
  .slider-inner .slides img {
    width: 100%;
    display: block;
    -webkit-transition: all 0.2s ease;
         -o-transition: all 0.2s ease;
            transition: all 0.2s ease; }
  .slider-inner .slides:after {
    content: "\0020";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  html[xmlns] .slider-inner .slides {
    display: block; }
  * html .slider-inner .slides {
    height: 1%; }
  .no-js .slider-inner .slides > li:first-child {
    display: block; }

.slider-inner {
  margin: 0;
  position: relative;
  zoom: 1; }
  .slider-inner .slides {
    zoom: 1; }

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
       -o-transition: all 1s ease;
          transition: all 1s ease; }
  .loading .flex-viewport {
    max-height: 300px; }

.carousel li {
  margin-right: 5px; }

.flex-direction-nav {
  *height: 0; }
  .flex-direction-nav a {
    color: #111;
    background: #fff;
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    z-index: 10;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    -webkit-transition: all 0.3s ease;
         -o-transition: all 0.3s ease;
            transition: all 0.3s ease; }
    .flex-direction-nav a:before {
      font-family: 'FontAwesome';
      font-style: normal;
      font-weight: normal;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 24px;
      display: inline-block;
      content: "\f053";
      line-height: 40px; }
    .flex-direction-nav a.flex-next:before {
      content: "\f054"; }
  .flex-direction-nav .flex-prev {
    left: -50px;
    text-align: center; }
  .flex-direction-nav .flex-next {
    right: -50px;
    text-align: center; }
  .slider-inner:hover .flex-direction-nav .flex-prev {
    opacity: 0.7;
    left: -20px; }
    .slider-inner:hover .flex-direction-nav .flex-prev:hover {
      opacity: 1; }
  .slider-inner:hover .flex-direction-nav .flex-next {
    opacity: 0.7;
    right: -20px; }
    .slider-inner:hover .flex-direction-nav .flex-next:hover {
      opacity: 1; }
  .flex-direction-nav .flex-disabled {
    opacity: 0 !important;
    filter: alpha(opacity=0);
    cursor: default; }

.flex-pauseplay a {
  display: block;
  width: 11px;
  height: 11px;
  line-height: 11px;
  position: absolute;
  bottom: 8px;
  right: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000; }
  .flex-pauseplay a:before {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 11px;
    display: inline-block;
    content: '\f04c'; }
  .flex-pauseplay a:hover {
    opacity: 1; }
  .flex-pauseplay a.flex-play:before {
    content: '\f04b'; }

.flex-control-nav {
  background: #f2f2f2;
  padding: 8px;
  line-height: 11px;
  width: 100%; }
  .flex-control-nav li {
    display: inline-block;
    /* IE7/8 Hack */
    *display: inline;
    *zoom: 1;
    margin: 0 3px; }

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: rgba(2, 193, 243, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 50%;
          border-radius: 50%; }
  .flex-control-paging li a:hover {
    background: #02C1F3; }
  .flex-control-paging li a.flex-active {
    background: #02C1F3;
    cursor: default; }

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }
  .flex-control-thumbs li {
    width: 25%;
    float: left;
    margin: 0; }
  .flex-control-thumbs img {
    width: 100%;
    display: block;
    opacity: 0.7;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
         -o-transition: all 0.2s ease;
            transition: all 0.2s ease; }
    .flex-control-thumbs img:hover {
      opacity: 1; }
  .flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default; }

.slider-inner li div.slide {
  position: relative; }
  .slider-inner li div.slide a {
    display: block; }
    .slider-inner li div.slide a:hover img {
      opacity: 0.8; }

#featured {
  margin: 0; }

.slide-data {
  background: rgba(0, 0, 0, 0.4);
  padding: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%; }

.slide-title {
  color: #fff;
  font-size: 20px;
  margin: 0; }
  .slide-title a {
    color: #fff; }

.slide-caption {
  color: #fff;
  margin: 10px 0 0; }

.social-media {
  padding: 10px 0; }
  .social-media ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    text-align: right; }
    .social-media ul li {
      display: inline-block;
      /* IE7/8 Hack */
      *display: inline;
      *zoom: 1;
      margin-left: 3px; }
      .social-media ul li a {
        display: block;
        position: relative;
        height: 32px;
        width: 32px; }

.social-media-normal .social {
  background-image: url('../images/social-media-color-32x32.png');
  background-repeat: no-repeat;
  display: block; }
.social-media-normal .social-digg {
  width: 32px;
  height: 32px;
  background-position: 0 0; }
.social-media-normal .social-dribbble {
  width: 32px;
  height: 32px;
  background-position: 0 -32px; }
.social-media-normal .social-facebook {
  width: 32px;
  height: 32px;
  background-position: 0 -64px; }
.social-media-normal .social-gplus {
  width: 32px;
  height: 32px;
  background-position: 0 -96px; }
.social-media-normal .social-instagram {
  width: 32px;
  height: 32px;
  background-position: 0 -128px; }
.social-media-normal .social-linkedin {
  width: 32px;
  height: 32px;
  background-position: 0 -160px; }
.social-media-normal .social-pinterest {
  width: 32px;
  height: 32px;
  background-position: 0 -192px; }
.social-media-normal .social-rss {
  width: 32px;
  height: 32px;
  background-position: 0 -224px; }
.social-media-normal .social-twitter {
  width: 32px;
  height: 32px;
  background-position: 0 -256px; }
.social-media-normal .social-vimeo {
  width: 32px;
  height: 32px;
  background-position: 0 -288px; }
.social-media-normal .social-youtube {
  width: 32px;
  height: 32px;
  background-position: 0 -320px; }

.social-media-grey .social {
  background-image: url('../images/social-media-gray-32x32.png');
  background-repeat: no-repeat;
  display: block; }
.social-media-grey .social-digg {
  width: 32px;
  height: 32px;
  background-position: 0 0; }
.social-media-grey .social-dribbble {
  width: 32px;
  height: 32px;
  background-position: 0 -32px; }
.social-media-grey .social-facebook {
  width: 32px;
  height: 32px;
  background-position: 0 -64px; }
.social-media-grey .social-gplus {
  width: 32px;
  height: 32px;
  background-position: 0 -96px; }
.social-media-grey .social-instagram {
  width: 32px;
  height: 32px;
  background-position: 0 -128px; }
.social-media-grey .social-linkedin {
  width: 32px;
  height: 32px;
  background-position: 0 -160px; }
.social-media-grey .social-pinterest {
  width: 32px;
  height: 32px;
  background-position: 0 -192px; }
.social-media-grey .social-rss {
  width: 32px;
  height: 32px;
  background-position: 0 -224px; }
.social-media-grey .social-twitter {
  width: 32px;
  height: 32px;
  background-position: 0 -256px; }
.social-media-grey .social-vimeo {
  width: 32px;
  height: 32px;
  background-position: 0 -288px; }
.social-media-grey .social-youtube {
  width: 32px;
  height: 32px;
  background-position: 0 -320px; }

.social-media-black .social {
  background-image: url('../images/social-media-black-32x32.png');
  background-repeat: no-repeat;
  display: block; }
.social-media-black .social-digg {
  width: 32px;
  height: 32px;
  background-position: 0 0; }
.social-media-black .social-dribbble {
  width: 32px;
  height: 32px;
  background-position: 0 -32px; }
.social-media-black .social-facebook {
  width: 32px;
  height: 32px;
  background-position: 0 -64px; }
.social-media-black .social-gplus {
  width: 32px;
  height: 32px;
  background-position: 0 -96px; }
.social-media-black .social-instagram {
  width: 32px;
  height: 32px;
  background-position: 0 -128px; }
.social-media-black .social-linkedin {
  width: 32px;
  height: 32px;
  background-position: 0 -160px; }
.social-media-black .social-pinterest {
  width: 32px;
  height: 32px;
  background-position: 0 -192px; }
.social-media-black .social-rss {
  width: 32px;
  height: 32px;
  background-position: 0 -224px; }
.social-media-black .social-twitter {
  width: 32px;
  height: 32px;
  background-position: 0 -256px; }
.social-media-black .social-vimeo {
  width: 32px;
  height: 32px;
  background-position: 0 -288px; }
.social-media-black .social-youtube {
  width: 32px;
  height: 32px;
  background-position: 0 -320px; }

/* Preload images */
body:after {
  content: url(../images/lightbox/close.png) url(../images/lightbox/loading.gif) url(../images/lightbox/prev.png) url(../images/lightbox/next.png);
  display: none; }

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none; }

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal; }

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }

.lightbox a img {
  border: none; }

.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
          border-radius: 4px; }
  .lb-outerContainer:after {
    content: "";
    display: table;
    clear: both; }

.lb-container {
  padding: 4px; }

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0; }

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../images/lightbox/loading.gif) no-repeat; }

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10; }

.lb-container > .nav {
  left: 0; }

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=='); }

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block; }

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../images/lightbox/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
       -o-transition: opacity 0.6s;
          transition: opacity 0.6s; }

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../images/lightbox/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
       -o-transition: opacity 0.6s;
          transition: opacity 0.6s; }

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px; }

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both; }

.lb-data {
  padding: 0 4px;
  color: #ccc; }

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em; }

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em; }

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999; }

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../images/lightbox/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
       -o-transition: opacity 0.2s;
          transition: opacity 0.2s; }

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }
