.breaking {
    border-bottom: 1px solid #EEE;
    height: 45px;
    overflow: hidden;
    position: relative;

    .breaking-inner {
        display: inline-block;
    }

    .breaking-title {
        background-color: $theme-color;
        color: #fff;
        display: inline-block;
        font-size: 16px;
        font-weight: 400;
        line-height: 45px;
        margin: 0 20px 0 0;
        padding: 0 12px;
        position: absolute;
        text-transform: uppercase;
    }

    .breaking-entry {
        display: inline-block;
        font-size: 14px;
        font-weight: 600;
        margin: 0 20px 0 0;
        padding: 12px;

        a {
            color: #444;
        }
    }
}
