.dark .slider-caption,
.dark .slider-caption h2 {
    color: #EEE;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.not-dark .slider-caption,
.not-dark .slider-caption h2 {
    color: #222;
    text-shadow: none;
}

.dark .ei-title h2,
.dark .ei-title h3,
.dark .ei-title h2 span,
.dark .ei-title h3 span {
    color: #EEE !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.not-dark .ei-title h2,
.not-dark .ei-title h3,
.not-dark .ei-title h2 span,
.not-dark .ei-title h3 span {
    color: #222 !important;
    text-shadow: none;
}

.dark #page-title {
    background-color: #282828;
    border-bottom-color: #3F3F3F;
}

.dark #page-title h1 {
    color: rgba(255, 255, 255, 0.9) !important;
}

.dark #page-title span {
    color: rgba(255, 255, 255, 0.7);
}

.dark .breadcrumb a {
    color: #BBB;
}

.dark .breadcrumb a:hover {
    color: #EEE;
}

.dark #page-title.page-title-pattern {
    background-image: url('../images/pattern2.png');
}
