// Gray

$gray-color:         #EEE;
$gray-color-2:       #BBB;
$gray-color-3:       #AAA;
$gray-color-4:       #DDD;
$gray-color-5:       #999;
$gray-color-6:       #CCC;
$gray-color-7:       rgba(255, 255, 255, 0.1);
$white-color:        #FFF;
$dark-color:         rgba(0, 0, 0, 0.2);
