/* Layout Boxed */
.layout_boxed {
	#container {
		margin: 0 auto;
		max-width: $max-width;
	}
}

/* Layout Wide */
.layout_wide {
	
	@include container-class() {
		margin: 0 auto;
		max-width: $max-width
	}

	#container {
		max-width: 100%;
	}
}

/* Container */
#container {
	background: color(container);
	position: relative;
}

#main {
	padding: $padding 30px;
}

/* Content */
.content-area {

}

/* Inner content */
.inner {
	margin: 0 0 $padding;
}

.sidebar-layout-double {

}

.sidebar-layout-double-left {

}

.sidebar-layout-double-right {

}
