/* 
	 Posts
	 ========================================================================== */

/*
 * Post Container
 */
.post {
	margin: 0 0 $padding;
	position: relative;
}

/*
 * Post Titles
 */
h1,
h2 {
	&.entry-title,
	&.page-title {
		margin: 0 0 .5em;
	}
}

/*
 * Entry Thumbnail
 */
.entry-thumbnail {
	line-height: 0;
	margin-bottom: $padding;

	img {
		transition: opacity .2s ease;
		&:hover {
			opacity: .8;
		}
	}

}

/*
 * Post Meta
 */
.entry-meta {
	color: #999;
	margin: 0 0 10px;
	text-transform: uppercase;
	
	a {
		color: #999;
		&:hover {
			color: #666;
		}
	}
}

// Hide time updated
time.updated {
	display: none;
}

/*
 * Categories
 */
.entry-category {
	a {
		color: #777;
		margin-right: 5px;
	}
}

/* Separator */
.sep-bullet {
	margin: 0 10px 0;
}

/* Titles Headline */
.headline {
	border-bottom: 1px solid #ddd;
	color: #666;
	padding: 0 0 10px;
	margin: 0 0 $padding;
}

/* Summary Excerpt */
.entry-summary {
	
}

/* Post Navigation */
.entry-container {
	margin: 0 0 $padding;
}

.entry-content {
	margin: 0 0 $padding;
	padding: 0;
}

/* Pagination */

.nav-posts {
	list-style: none;
	padding-left: 0;
}

.pagination {
	clear: both;
	padding: 10px 0;
	position: relative;
	font-size: 14px;
	line-height: 13px;
	
	a,
	span-columns {
		background: #c3c3c3;
		border-right: 1px solid rgba(black, .1);
		color: #fff;
		display: block;
		float: left;
		padding: 8px 10px;
		text-decoration: none;
		width: auto;		

		&:first-child,
		&:last-child {
			border-radius: 4px 0 0 4px;
		}

		&:last-child {
			border-right: 0;
			border-radius: 0 4px 4px 0;
		}

	}


	a {
		&:hover {
			background: $color-0;
			color: #fff;
		}
	}

	.current {
		background: $color-0;
		color: #fff;
	}

}

/* Author info */
.entry-about-author {
	background: #f2f2f2;
	margin-bottom: $padding;
	padding: $padding;

}

.author-description {
	h3 {
		margin-top: 0;
	}
}

.author-link {
	display: block;
	margin-top: 10px;
}