#bottom {
	background: #222;
	color: #fff;
	padding: 10px 30px;
}

#footer {
	a {
		color: #fff;
		&:hover {
			text-decoration: underline;
		}
	}

	ul {
		@include reset-list();
	}
}

.footer-content {
	padding: $padding*2 0 $padding;
}

/*
 * Footer Widget Area
 */
.footer-widget {
	
	.widget-title {
		color: #ffffff;
	}
	
	&.widget-columns-1 {
		.widget {
			@include span-columns(12);
		}
	}
	
	&.widget-columns-2 {
		.widget {
			@include span-columns(6);
			@include nth-child(2n, right);
		}
	}

	&.widget-columns-3 {
		.widget {
			@include span-columns(4);
			@include nth-child(3n, right);
		}
	}

	&.widget-columns-4 {
		.widget {
			@include span-columns(3);
			@include nth-child(4n, right);
		}
	}

	&.widget-columns-hide {
		display: none;
	}

}

/*
 * Footer Copyright
 */
.footer-copyright {
	padding-top: $padding;
	clear: both;

	p {
		margin: 0;
	}

}