/*
 * Blog Columns
 */

 .blog-2-cols {
	.post {
		@include span-columns(6);

		&:nth-child(2n) {
			margin-right: 0;
		}
		
		&:nth-child(2n+1) {
			clear: left;
		}

	}
}

.blog-3-cols {
	.post {
		@include span-columns(4);

		&:nth-child(3n) {
			margin-right: 0;
		}

		&:nth-child(3n+1) {
			clear: left;
		}
		
	}
}

.blog-4-cols {
	.post {
		@include span-columns(3);

		&:nth-child(4n) {
			margin-right: 0;
		}

		&:nth-child(4n+1) {
			clear: left;
		}
		
	}
}

/*
 * Grid
 */
.grid-columns {
	width: 100%;
	@if browser('ie') == '8' {
		*zoom: 1;
	}

	&:before,
	&:after {
		display: table;
		line-height: 0;
		content: "";
	}

	&:after {
		clear: both;
	}

	[class*="grid-"] {
		display: block;
		min-height: 30px;
		width: 100%;
	}

	.grid-12 {
		@include span-columns(12);
	}

	.grid-11 {
		@include span-columns(11);
	}

	.grid-10 {
		@include span-columns(10);
	}

	.grid-9 {
		@include span-columns(9);
	}

	.grid-8 {
		@include span-columns(8);
	}

	.grid-7 {
		@include span-columns(7);
	}

	.grid-6 {
		@include span-columns(6);
	}

	.grid-5 {
		@include span-columns(5);
	}

	.grid-4 {
		@include span-columns(4);
	}

	.grid-3 {
		@include span-columns(3);
	}

	.grid-2 {
		@include span-columns(2);
	}

	.grid-1 {
		@include span-columns(1);
	}

}