#top {
	border-top: 4px solid color('0');
	position: relative;
	padding: 0 30px;
}

.header-content-inner {
	padding: $padding+5 0;
}


/*
 * Brand
 */
div.brand {
	float: left;
	img {
		max-height: 50px;
	}
}