nav.main-navigation {
	margin-top: 0;
	position: absolute;
	right: 30px;
	width: auto;
}

div.navigation-inner {
	display: block;
	position: relative;
	width: 100%;
}

ul.navigation-menu {
	@include reset-list();

	ul.sub-menu {
		min-width: 200px;
	}
	
	> li {
		float: left;
		position: relative;
		
		> a {
			color: #888;
			display: block;
			font-size: $menu-font-size;
			font-weight: $menu-font-weight;
			line-height: 48px;
			padding: 0 15px 25px;
			text-align: center;
			text-shadow: $menu-text-shadow;
			text-transform: $menu-text-transform;
		}

		&:hover,
		&.current-menu-item,
		&.current_page_item {
			> a {
				color: $color-0;
			}
		}
		
		ul.sub-menu {
			background: #f9f9f9;
			border: 1px solid #ddd;
			border-top: 0;
			margin: 0;
			padding: 0;

			> li {
				border-bottom: 1px solid rgba(#ccc, .4);
				display: block;
				position: relative;

				&:hover,
				&.current-menu-item,
				&.current_page_item {
					> a {
						background: $color-0;
						color: #fff;
					}					
				}

				a {
					display: block;
					font-size: $sub-menu-font-size;
					padding: 8px 10px;
					text-align: left;
				}
				
				ul.sub-menu {
					left: 100%;
					margin: 0;
				}

			}
		}
	}
}

/*
 * Superfish Menu
 */
.sf-menu,
.sf-menu * {
	@include reset-list();

	li {
		position: relative;
	}

	ul {
		position: absolute;
		display: none;
		top: 100%;
		left: 0;
		z-index: 99;
	}

	li:hover > ul,
	li.sfHover > ul {
		display: block;
	}

	a {
		display: block;
		position: relative;
	}

	ul ul {
		top: 0;
		left: 100%;
	}

}

.sf-arrows {

	// .sf-with-ul {
	// 	padding-right: 2.5em;

	// 	&:after {
	// 		content: '';
	// 		position: absolute;
	// 		top: 50%;
	// 		right: 1em;
	// 		margin-top: -3px;
	// 		height: 0;
	// 		width: 0;
	// 		border: 5px solid transparent;
	// 		border-top-color: #fff;
	// 	}

	// }

	// ul {
	// 	.sf-with-ul {
	// 		&:after {
	// 			margin-top: -5px;
	// 			margin-right: -3px;
	// 			border-color: transparent;
	// 			border-left-color: #fff;
	// 		}
	// 	}
	// }

	// > li > .sf-with-ul:focus,
	// > li:hover > .sf-with-ul,
	// > .sfHover > .sf-with-ul {
	// 	&:after {
	// 		border-top-color: #fff;
	// 	}
	// }

	// ul li > .sf-with-ul:focus:after,
	// ul li:hover > .sf-with-ul:after,
	// ul .sfHover > .sf-with-ul:after {
	// 	border-left-color: white;
	// }

}

/*
 * Mobile Navigation
 */
a.toggle-button {
	background-color: $color-0;
	border-radius: $border-radius $border-radius 0 0;
	color: #fff;
	font-size: 18px;
	margin-left: 10px;
	padding: 10px;
	@include inline-block();
	&:hover {
		color: #fff;
	}
}

a.mobile-toggle {
	display: none;
}

/*
 * Breadcrumbs
 */
#breadcrumbs {
	color: $base-font-color;
	margin: 15px 0;
	padding: 0;

	p {
		margin: 0;
	}

	.breadcrumb_last {
		color: #999;
	}
}