$icon-sprite-base-class: ".social" !default;
$icon-sprite-dimensions: 32px !default;

.social-media {
	padding: 10px 0;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		text-align: right;

		li {
			@include inline-block();
			margin-left: 3px;
			
			a {
				display: block;
				position: relative;
				height: $icon-sprite-dimensions;
				width: $icon-sprite-dimensions;
			}
		}
	}
}

// Style icons

.social-media-normal {
	#{$icon-sprite-base-class} {
		background-image: url('../images/social-media-color-32x32.png');
		background-repeat: no-repeat;
		display: block;
	}
	@include spritesheet-icon();
}

.social-media-grey {
	#{$icon-sprite-base-class} {
		background-image: url('../images/social-media-gray-32x32.png');
		background-repeat: no-repeat;
		display: block;
	}
	@include spritesheet-icon();
}

.social-media-black {
	#{$icon-sprite-base-class} {
		background-image: url('../images/social-media-black-32x32.png');
		background-repeat: no-repeat;
		display: block;
	}
	@include spritesheet-icon();
}