/* ==========================================================================
	 Typography
	 ========================================================================== */

/*
 * Links
 */
a, a.link {
	color: $link-color;
	&:hover {
		color: lighten($link-color, 10%);
	}
}

/*
 * Fix font headings size
 */
h1, .h1 {
	font-size: $h1;
}

h2, .h2 {
	font-size: $h2;
}

h3, .h3 {
	font-size: $h3;}

h4, .h4 {
	font-size: $h4;
}

h5, .h5 {
	font-size: $h5;
}

h6, .h6 {
	font-size: $h6;
}

/*
 * Headings
 */
h1, h2, h3, h4, h5, h6
.h1, .h2, .h3, .h4, .h5, .h6 {
	color: #000000;
	@include font-stack-headers();
	font-weight: bold;
	line-height: 1.1;
	margin-top: 10px;
	margin-bottom: 10px;
	
	a {
		color: inherit;
		&:hover {
			color: inherit;
		}
	}
}

blockquote {
	font-size: 14px;
}

/*
 * Code
 */
code,
kbd,
pre,
samp {
	@include font-stack-code();
	font-size: $base-font-size;
}

code {
	display: inline-block;
	padding: 0 3px;
}