.anva_gallery_remove {
    background: #EEE;
    box-shadow: 0 0 0 1px #FFF, 0 0 0 2px rgba(black, 0.15);
    color: #222;
    font-weight: 700;
    display: block;
    height: 24px;
    line-height: 24px;
    opacity: 0;
    outline: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: none;
    text-decoration: none;
    width: 24px;
    z-index: 10;

    &:hover {
        color: #ff0000;
    }

    .icon {
        display: block;
        background-position: -1px 0;
        height: 15px;
        margin: 5px;
        width: 15px;
    }
}

#anva-gallery-spinner,
#anva-gallery-spinner.spinner {
    float: none;
    margin: 5px 10px 5px;
}

.anva-gallery-placeholder {
    border: 1px dashed #CCC;
}

.anva-gallery-actions {
    border-top: 1px solid #DDD;
    padding: 10px 18px ;
    clear: both;
    background: #F5F5F5;
    margin: 0 -12px -12px;
    text-align: right;
}

#anva_gallery_thumbs {
    @include clearfix;
    margin: 10px 0;

    &.empty {
        &:before {
            content: attr(data-text);
            color: #BBB;
            display: block;
            font-size: 13px;
            padding: 10px;
            text-align: center;
        }
    }

    li {
        position: relative;
        float: left;
        padding: 8px;
        margin: 0;
        color: #464646;
        cursor: pointer;
        list-style: none;
        text-align: center;
        user-select: none;
        width: 20%;
        box-sizing: border-box;

        &:hover {
            .anva_gallery_remove {
                opacity: 1;
            }
        }

        &.attachment {
            .landscape img {
                max-height: 100%;
                width: auto;
            }
            .portrait img {
                height: auto;
                max-width: 100%;
            }
        }

        .attachment-preview {
            position: relative;
            box-shadow: inset 0 0 15px rgba(black, 0.1), inset 0 0 0 1px rgba(black, 0.05);
            background: #eee;
            cursor: pointer;
            &:before {
                content: '';
                display: block;
                padding-top: 100%;
            }
        }

        .thumbnail {
            overflow: hidden;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 1;
            transition: none;

            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                box-shadow: inset 0 0 0 1px rgba(black, 0.1);
                overflow: hidden;
            }

            .centered {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform: translate(50%, 50%);

                img {
                    position: absolute;
                    left: 0;
                    top: 0;
                    transform: translate(-50%, -50%);
                }
            }
        }

        @media screen and (min-width: 1384px) {
            width: 16.66%;
        }

        @media screen and (min-width: 1595px) {
            width: 14.28%;
        }

        @media screen and (min-width: 1715px) {
            width: 12.5%;
        }

        @media screen and (min-width: 1895px) {
            width: 11.11%;
        }

        @media screen and (max-width: 960px) {
            width: 25%;
        }

        @media screen and (max-width: 565px) {
            width: 33.33%;
        }

        @media screen and (max-width: 415px) {
            width: 50%;
        }
    }

    span {
        color: $color-description;
    }
}
