.anva-field-link-mega,
.anva-field-link-mega-hide-headers {
    display: none;
}

.menu-item-depth-0 {
    .anva-field-link-mega,
    .anva-field-link-mega-hide-headers {
        display: block;
    }

    .anva-field-link-deactivate,
    .anva-field-link-placeholder {
        display: none;
    }
}

.anva-field-link-mega-columns {
    select {
        display: block;
        width: 100%;
    }
}
