#customize-theme-controls {
    select {
        box-sizing: border-box;
        width: 100%;
    }
}

.customize-control-title {
    margin-top: 5px;
    margin-bottom: 5px;
}

.anva-disclaimer {
    color: #777;
    display: block;
    font-size: 12px;
    margin: 10px;
    padding: 10px;
}

.anva-divider {
    display: block;
    border-bottom: 1px dashed #ccc;
    margin: 0 0 20px 0;
    padding: 20px 0 0 0;
}

.customize-control-textarea {
    textarea {
        line-height: 18px;
        margin: 0;
        width: 98%;
        height: 150px;
        &:focus {
            border-color: #bbb;
            outline: none;
        }
    }
}

.customize-section-typography {
    .customize-control-select,
    .customize-control-font_face,
    .customize-control-color {
        padding: 0 10px;
    }
}

#accordion-section-typography .accordion-section-content li:last-child .anva-divider {
    display: none;
}

.anva-google-font {
    background: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    margin-top: 10px;
    padding: 10px;
}
